

/* loading 按钮动画 */
@-webkit-keyframes loadingBtn {
    0% { left:0; opacity: .2}
    100% { left:100%; opacity: 1}
}
@keyframes loadingBtn {
    0% { left:0; opacity: .2}
    100% { left:100%; opacity: 1}
}

@-webkit-keyframes swiper-left {
    0% { margin-right: 0;opacity: 1}
    100% { margin-right: 3rem;opacity: 0}
}
@keyframes swiper-left {
    0% { margin-right: 0;opacity: 1}
    100% { margin-right: 3rem;opacity: 0}
}

@keyframes bottom-message {
    0% { bottom:0; }
    100% { bottom:5rem; }
}
@keyframes top-message {
    0% { top:0; }
    100% { top:5rem; }
}
@keyframes top-message {
    0% { top:0; }
    100% { top:5rem; }
}
@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes flash {
    0% { opacity:0; }
    50% { opacity:100; }
    100% { opacity:0; }
}

/* 折叠动画*/

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
@-webkit-keyframes rotateRound {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: .6;
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: .6;
    }
}

@-webkit-keyframes play {
    0% {
        opacity: .3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .3;
    }
}
