
[v-cloak] {
    display: none;
}
/*修改默认设置*/
html {
    font-size: 62.5% !important;
    height: 100%;
    background: transparent;
}
body {
    height: 100%;
    font-size: 1.4rem;
    /*background: url("../image/background.jpg") center center no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/
    background: #263e5a;
    color: #f0f6ff;
    font-family: "Helvetica Neue",Roboto,Helvetica,Droid,Fallback,STHeiTi,sans-serif;
    /*max-width: 416px;*/
    /*margin: 0 auto;*/
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
body.bk-img{
    background: url("../image/background.jpg") center center no-repeat;
    background-attachment: fixed;
    /*background-size: cover;*/
}
label{
    position: relative;
}
*, ::after, ::before {
    box-sizing: border-box;
}
header{
    text-align: center;
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 48px;
    position: relative;
}
footer{
    height: 50px;
    line-height: 50px;
    /* background: url(../res/img/tmall_bottom_bg.9.png) left bottom repeat-x; */
    background-size: 11px 50px;
    background-color: #112a48;
    width: 100%;
    text-align: center;
}
textarea{
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
    height: 30px;
    max-height: 30rem;
    min-height: 3rem;
}
ul{
    list-style: none;
}
input[type='datetime-local']{
    font-size: 1.2rem;
}
input, button, select, textarea {
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
textarea.mail-body {
    height: auto !important;
}
audio{
    width: 100%;
}
pre {
    font-size: 1.4rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
}
.ui-dialog-operate .ui-dialog-cnt{
    min-height: 400px;
}
.ui-checkbox input:before, .ui-checkbox-s input:before {
    font-family: "icon-checkbox" !important;
    font-size: 32px;
    line-height: 46px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    display: block;
    content: "";
    position: absolute;
    top: -15px;
    left: -4px;
    color: #dedfe0;
}
.ui-checkbox input:checked:before, .ui-checkbox-s input:checked:before {
    color: #97d3ff;
}
.header-center-li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-count::after{
    content: attr(data-count);
    position: absolute;
    top:0;
    right: 0;
    color: #c1c1c1;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.wrap {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
}
.wrap.center{
    justify-content: center;
}
.container{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    /*transform: scale3d(1, 1, 1);*/
}
.container.flex{
    height: 100%;
    display: flex;
     justify-content: center;
    align-items: center;
}
.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    /*padding: 1em;*/
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.ui-avatar{
    background-image: none;
}
.bk-none{
    background: transparent;
}
.bk-dark{
    background: rgba(50, 77, 111, 0.6)
}
.bk-red{
    background: rgba(215, 22, 83, 0.4);
}
.bk-purple{
    background: rgba(187, 22, 215, 0.4);
}
.bk-dark-blue{
    background: rgba(53, 22, 215, 0.4);
}
.bk-light-blue{
    background: rgba(22, 98, 215, 0.4);
}
.border-0{
    border: none;
}
.opacity-5{
    opacity: .5;
}
.no-touch {
    pointer-events: none;
}
.ui-progress{
    height: 3px;
    position: relative;
    overflow: inherit;
}
.votes-box .ui-progress::before,.votes-box .ui-progress::after{
    content: attr(data-count);
    position: absolute;
    top: 0.3rem;
    left: .2rem;
    font-size: 1rem;
    color: #f0f0f0;
    z-index: 2;
}
.votes-box .ui-progress::after{
    content: '300';
    left: auto;
    right: .2rem;
}
.ui-progress span {
    background: linear-gradient(to right, #04d6ff, #00ff95);
}
/*END修改默认设置*/

/*文字相关*/
p{
    font-size: 1.4rem;
}
.pro-text{
    font-size: 1.4rem;
}
.small{
    font-size: 1.2rem !important;
}
.x-small{
    font-size: 1rem !important;
}
.big-text{
    font-size: 2rem !important;
}
.lg-text{
    font-size: 2.4rem !important;
}
.text-b{
    font-weight: 600;
}
.text-center{
     text-align: center !important;
 }
.text-left{
    text-align: left !important;
}
.text-right{
    text-align: right !important;
}
.text-blue{
    color:#c5e0ff !important;
}
.text-yellow{
    color:#d7ba42 !important;
}
.text-red{
    color:rgb(255, 169, 169) !important;
}
.text-warning{
    color: #fb9651;
}
.text-green{
    color:rgb(50, 204, 84) !important;
}
.text-dark-gray{
    color: #c3c3c3;;
}
.text-light-gray{
    color: #D6D6D6;
}
.text-title{
    font-weight: 700;
}
.text-subtitle{
    font-size: 1.2rem !important;
    color: #b3cee6 !important;
}
.text-white-h{
    color: #dfdfdf;
}
.del-line{
    text-decoration:line-through;
}
#media .img-li{
     position: relative;
}
#media .img-li i{
    position: absolute;
    z-index: 9;
    color: #ee6a6a;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 20px;
    right: 0;
    top: -3px;
}
.media-box .ui-nowrap{
    font-size: 1.4rem;
    font-weight: 700;
}
.media-box img{
    border-radius: .5rem;
    object-fit: cover;
}

.circle-border{
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border:.2rem solid #fff;
    border-radius: 1rem;
    line-height: 1.6rem;
    text-align: center;
    font-size: 1.2rem;
}
.circle-border.bonus{
    border:.2rem solid #ea5e6b;
}
.circle-border::before{
    content: '+0.2';
    display: inline-block;
    position: absolute;
    top: -1.9rem;
    left: -0.4rem;
    color: #60c770;
}
.circle-border.bonus::before{
    content: '+0.8';
    color: #8a0d19;
}
.circle-border.active{
    position: relative;
    background: #d7ba42;
}
.circle-border.bonus.active{
    background: #8a0d19;
}
.section-title span{
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 1rem 2rem;
}
.section-title span::before,.section-title span::after{
    content: '-';
    display: inline-block;
    position: absolute;
    left: 0;
    top:1rem;
}
.section-title span::after{
    left: auto;
    right: 0;
}
/*END文字相关*/

/*图片相关*/
.img-fluid{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.logo-banner{
    width: 15rem;
}
/*END图片相关*/

/*位置相关*/
.vertical-center{
    display:flex;/*Flex布局*/
    display: -webkit-flex; /* Safari */
    align-items:center;/*指定垂直居中*/
    justify-content: center;
    height: 100%;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.mm-15{
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}
.ui-center{
    margin: 0 auto;
}

.m-0{
    margin: 0;
}
.m-1{
    margin: .2rem;
}
.m-2{
    margin: .4rem;
}
.m-3{
    margin: .6rem;
}
.m-4{
    margin: 1rem;
}
.m-5{
    margin: 2rem;
}
.ml-0{
    margin-left: 0 !important;
}
.ml-1{
    margin-left: .2rem;
}
.ml-2{
    margin-left: .4rem;
}
.ml-3{
    margin-left: .6rem;
}
.ml-4{
    margin-left: 1rem;
}
.ml-5{
    margin-left: 2rem;
}
.ml-10 {
    margin-left: 5rem;
}
.ml-20 {
    margin-left: 10rem;
}
.mr-0{
    margin-right: 0;
}
.mr-1{
    margin-right: .2rem;
}
.mr-2{
    margin-right: .4rem;
}
.mr-3{
    margin-right: .6rem;
}
.mr-4{
    margin-right: 1rem;
}
.mr-5{
    margin-right: 2rem;
}
.mr-10 {
    margin-right: 5rem;
}
.mr-20 {
    margin-right: 10rem;
}
.mt-0{
    margin-top: 0 !important;
}
.mt-1{
    margin-top: .2rem;
}
.mt-2{
    margin-top: .4rem;
}
.mt-3{
    margin-top: .6rem;
}
.mt-4{
    margin-top: 1rem;
}
.mt-5{
    margin-top: 2rem;
}
.mt-10 {
    margin-top: 5rem;
}
.mt-20 {
    margin-top: 10rem;
}
.mb-0{
    margin-bottom: 0 !important;
}
.mb-1{
    margin-bottom: .2rem;
}
.mb-2{
    margin-bottom: .4rem;
}
.mb-3{
    margin-bottom: .6rem;
}
.mb-4{
    margin-bottom: 1rem;
}
.mb-5{
    margin-bottom: 2rem;
}
.mb-10 {
    margin-bottom: 5rem;
}
.mb-20 {
    margin-bottom: 10rem;
}

.p-0{
    padding: 0 !important;
}
.p-1{
    padding: .2rem !important;
}
.p-2{
    padding: .4rem;
}
.p-3{
    padding: .6rem;
}
.p-4{
    padding: 1rem;
}
.p-5{
    padding: 2rem;
}
.pl-0{
    padding-left: 0 !important;
}
.pl-1{
    padding-left: .2rem;
}
.pl-2{
    padding-left: .4rem;
}
.pl-3{
    padding-left: .6rem;
}
.pl-4{
    padding-left: 1rem;
}
.pl-5{
    padding-left: 2rem;
}
.pl-10 {
    padding-left: 5rem;
}
.pl-20 {
    padding-left: 10rem;
}
.pr-0{
    padding-right: 0 !important;
}
.pr-1{
    padding-right: .2rem;
}
.pr-2{
    padding-right: .4rem;
}
.pr-3{
    padding-right: .6rem;
}
.pr-4{
    padding-right: 1rem;
}
.pr-5{
    padding-right: 2rem;
}
.pr-10 {
    padding-right: 5rem;
}
.pr-20 {
    padding-right: 10rem;
}
.pt-0{
    padding-top: 0 !important;
}
.pt-1{
    padding-top: .2rem !important;
}
.pt-2{
    padding-top: .4rem;
}
.pt-3{
    padding-top: .6rem;
}
.pt-4{
    padding-top: 1rem;
}
.pt-5{
    padding-top: 2rem;
}
.pt-10 {
    padding-top: 5rem;
}
.pt-20 {
    padding-top: 10rem;
}
.pb-0{
    padding-bottom: 0 !important;
}
.pb-1{
    padding-bottom: .2rem;
}
.pb-2{
    padding-bottom: .4rem;
}
.pb-3{
    padding-bottom: .6rem;
}
.pb-4{
    padding-bottom: 1rem;
}
.pb-5{
    padding-bottom: 2rem;
}
.pb-10 {
    padding-bottom: 5rem;
}
.pb-20 {
    padding-bottom: 10rem;
}
.offset-header{
    margin-top: 4.5rem;
}
/*END位置相关*/

/*可视*/
.d-none{
    display: none;
}
.d-none-im{
    display: none !important;
}
.visible {
    visibility:visible;
}
.invisible {
    visibility:hidden;
}
/*END可视*/

/*组件*/
.line{
    margin: 1rem 0;
    border-bottom: 1px solid #eee;
}
    /*渐进式页眉*/
.progressive-header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: #0b1118;
    z-index: 9;
    display: none;
    opacity: 1;
}
    /*box*/
.box,.box-p2{
    position: relative;
    background: rgba(17, 32, 51, 0.5);
    border-radius: .5rem;
    padding: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.26);
}
.box-full{
    position: relative;
    background: rgba(17, 32, 51, 0.5);
    padding: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.26);
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}
.container-box{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #fff;
    padding: 1rem;
}
.container-box.profile-page .ui-col{
    height: 6.5rem;
    margin-bottom: 1rem;
}
.container-box.profile-page .ui-col i{
    display: inline-block;
    height: 3rem;
}
.box-p2{
  padding: .5rem;
}
    /* END box */
.ui-form{
    background: none;
}
    /* 输入框 */
.form-ctrl{
    background: none;
    width: 100%;
    height: 2rem;
    font-size: 1.4rem;
    color: inherit;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ababab;
}
.form-ctrl:focus{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    border-bottom: 1px solid #ff9f10 !important;
}
.form-label{
    display: block;
    color: #c5e0ff;
    font-size: 1.2rem;
    text-align: left;
}
.upload-button-input{
    position: absolute;
    left: 0;
    top:0;
    z-index: -1;
    width: 100px;
    height: 3rem;
    margin-left: 5rem;
    opacity: 0;
}
    /* END 输入框 */
    /* checkbox */
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    width: 1.6rem;
    height: 1.6rem;
}
.custom-control-label {
    padding-left: 2rem;
    margin-bottom: 0;
    position: relative;
}
.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    border: 1px solid #ababab;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom-control-label::after {
    position: absolute;
    top:0;
    left: 0;
    text-align: center;
    line-height: 1.8rem;
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    content: "";
    color: #fff;
}
.custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    content: '\2713';
}
.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.ui-form-item {
    font-size: 1.2rem;
    height: 3rem;
    line-height: 3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.ui-switch {
    margin-top: -1.2rem;
    width: 4.2rem;
    height: 2.2rem;
    right: 0;
    line-height: 2.2rem;
}
.bounce-box-bottom .ui-switch{
    width: 9rem;
    text-align: center;
    right: 2.5rem;
}
.ui-switch input:before {
    content: '';
    width: 4rem;
    height: 2rem;
    border: .1rem solid #43546b;
    background-color: #101b29;
    border-color: #43546b;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    -webkit-box-shadow: #dfdfdf 0 0 0 0 inset;
    transition: border 0.4s, -webkit-box-shadow 0.4s;
    -webkit-transition: border 0.4s, -webkit-box-shadow 0.4s;
    background-clip: content-box;
    -webkit-background-clip: content-box;
}
.ui-switch input:checked:before {
    border-color: #43546b;
    box-shadow: #2c88d0 0 0 0 16px inset;
    -webkit-box-shadow: #2c88d0 0 0 0 16px inset;
    transition: border 0.4s, -webkit-box-shadow 0.4s, background-color 1.2s;
    -webkit-transition: border 0.4s, -webkit-box-shadow 0.4s, background-color 1.2s;
    background-color: #2c88d0;
}
.ui-switch input:after {
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-color: #bedff7;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
}
    /* END checkbox */
    /*教程*/
.tutorialActive{
    position: relative;
    z-index: 1000;
    pointer-events: none;
}
.swiper-container.tutorial,.swiper-container.tutorial.wallet{
    background: rgba(0,0,0,0.9);
    line-height: normal;
}
.swiper-container.tutorial .close-swiper{
    background: none;
    color: #fff;
}
.swiper-container.tutorial .swiper-slide{
    position: relative;
    color: #fff;
    flex-direction: column;
    padding: 2rem;
}
.swiper-container.tutorial .swiper-slide p{
    line-height: 2rem;
    text-indent:3rem;
}
.swiper-container.tutorial .icon-bhjleftslide{
    font-size: 3rem;
    animation:  1s swiper-left infinite;
}
.container.tutorial.tutorialFirstLogin{
    background: rgba(0,0,0,0.8);
    width: 100%;
    padding: 2rem;
    height: calc(100vh - 90px);
    margin-top: 40px;
    color: #f0f0f0;
    display:flex;
    justify-content:space-between;
    flex-direction: column;
}
    /*END 教程*/
    /*表格*/
table.table{
    width: 100%;
    font-size: 1rem;
}
table.table thead{
    border-bottom: 1px solid #155286;
 }
table.table thead th{
    text-align: center;
}
table.table tbody td{
    padding: .5rem 0;
    text-align: center;
    border: 1px solid #155286;
}
table.table tbody td:first-child{
    border-left: none;
}
table.table tbody td:last-child{
    border-right: none;
}
table.table .del-shipping-btn{
    background: rgba(97,19,19,0.5);
}
    /*END 表格*/
    /*上弹框*/
.bounce-box-bottom,.bounce-box-left{
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    min-height: 10rem;
    padding: 1rem;
    background: rgb(44, 60, 79);
    z-index: 9999;
}
.bounce-box-content{
    max-height: 70vh;
    overflow-y: scroll;
}
.bounce-box-left{
    top:50%;
}
.bounce-box-bottom.show,.bounce-box-left.show{
    bottom: 0 !important;
}
.share-box i{
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background: #000;
    border-radius: 2rem;
    line-height: 4rem;
    font-size: 2rem;
}
.share-box i.icon-wechat,.share-box i.icon-dpstipiconfriends{
    background: #3cb034;
}
.share-box i.icon-facebook{
    background: #3a5795;
}
.share-box i.icon-google{
    background: #cd1d1c;
}
.share-box i.icon-twitter{
    background: #04a4ec;
}
.share-box i.icon-share-qq-zone{
    background: #F5BA3B;
    font-size: 2.6rem;
}
.share-box i.icon-weibo{
    background: #CF2A2F;
}
.share-box i.icon-mail{
    background: #22A4E2;
}
.share-box i.icon-order{
    background: #24A0B1;
}
    /*END上弹框*/
    /*按钮*/
.ui-btn{
    display: inline-block;
    border: none;
}
.ui-btn.btn-half-h{
    height: 2.4rem;
    line-height: 2.4rem;
}
.btn-nobg{
    background: none;
    color: #fff;
}
.btn-nobg:before{
    border: none !important;
}
.btn-nobg:not(.disabled):not(:disabled):active{
    background-color: rgba(1, 10, 17, 0) !important;
}
.btn-block{
    width: 100%;
}
.btn-sm{
    width: 50%;
}
.icon-empty_fill{ /* 垃圾桶删除按钮 */
    color:rgb(255, 169, 169);
}
.ui-btn.ui-btn-primary,.ui-btn.ui-btn-success,.ui-btn.ui-btn-error,.ui-btn.ui-btn-inner,.ui-btn-danger{
    border-radius:.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fbfbfb;
    font-size: 1.4rem;
    font-weight: 600;
}
.ui-btn-danger{
    background-color: #FB6155;
}
.ui-btn.ui-btn-success {
    background-color: rgba(50, 246, 126, 0.5);
}
.ui-btn.ui-btn-error {
    background-color: rgba(246, 50, 50, 0.5);
}
.ui-btn.ui-btn-inner{
    background-color: rgba(43, 143, 255, 0.7);
}
.ui-btn-lg-nowhole,.ui-btn-s:not(.disabled):not(:disabled):active, .ui-btn-s.active, .ui-btn:not(.disabled):not(:disabled):active, .ui-btn.active,
.ui-btn-lg:not(.disabled):not(:disabled):active, .ui-btn-lg.active, .ui-btn-lg-nowhole:not(.disabled):not(:disabled):active, .ui-btn-lg-nowhole.active{
    background-color:rgba(1, 8, 14, 0.8);
    color: #fbfbfb;
    border: none !important;
}
.ui-btn-s:before, .ui-btn:before, .ui-btn-lg:before, .ui-btn-lg-nowhole:before{
    border: none;
}
.question-mark::before,.attention-mark::before{
    content: '?';
    position: absolute;
    right: 1rem;
    z-index: 9;
    display: block;
    width: 2rem;
    height: 2rem;
    background: rgb(25, 95, 147);
    text-align: center;
    line-height: 2rem;
    border-radius: 1rem;
    font-weight: 600;
    color: #abdbed;
}
.attention-mark::before{
    content: '!';
    background: rgb(147, 25, 25);
    color: #ffdef6;
}
.iconfont.icon-create,#edit-pro-btn .edit-pro-btn,#edit-pro-btn .icon-delete{
    padding: .5rem;
}
.ui-btn-info{
    background: rgba(25, 95, 147, 0.5);
    color: #fff;
    border-radius: .5rem;
    font-size: 1.4rem;
}
.add-media-btn{
    color: #acacac;
    display: inline-block;
    width: 100%;
    /*height: 100%;*/
    font-size: 4rem;
    margin-bottom: .5rem;
    /*border: .1rem solid #ccc;*/
    /*border-radius: .5rem;*/
    /*background: #1b304dc2;*/
}
.to-top-btn{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    /*background: #4e555b;*/
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); 	/* IE 9 */
    -moz-transform:rotate(-90deg); 	/* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
    -o-transform:rotate(-90deg);
}
.delete-video-btn{
    display: none;
    background: rgb(97, 10, 10);
    width: 2rem;
    border-radius: .5rem;
    float: right;
    margin-top: -.8rem;
    font-size: 1.2rem;
    padding: .2rem;
}
.close-btn-circle{
    font-size: 2rem;
    color:#89b1ca;
}
.ui-btn.ui-btn-default{
    border-radius: .5rem;
}
#followBtn span.unfollow,#followBtn.active span.followed{
    display: inline-block;
}
#followBtn.active span.unfollow,#followBtn span.followed{
    display: none;
}
    /*END 按钮*/
    /*loading*/
.no-item, .mic {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    /*display: inline-block;*/
    margin-top: 2rem;
    margin-left: -2rem;
    height: 4rem;
    width: 4rem;
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
    -webkit-animation: rotateRound 2s infinite linear;
    animation: rotateRound 2s infinite linear;
    color: #68b8ff;
}
.no-item {
    display: none;
    z-index: 1;
    left: 0;
    margin-left: 0;
    width: 100%;
    height: 4rem;
    margin-top: -2rem;
    font-size: 1.2rem;
    -webkit-animation: none;
    animation: none;
    color: #daeaef;
}
.mic {
    top: 70%;
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    color: #ffffff;
    border-radius: 2.5rem;
    background: #0b1118;
    -webkit-animation: rotateRound 2s infinite linear;
    animation: rotateRound 2s infinite linear;
}
.no-item.dashboardPage{
    margin-top: 6rem;
}
.empty-cart{
    margin-top: 6rem;
    text-align: center;
}
/*.loading-box{*/
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*width: 10rem;*/
    /*height: 10rem;*/
    /*margin-left: -5rem;*/
    /*margin-top: -5rem;*/
    /*background: rgba(0, 0, 0, 0.63);*/
    /*border-radius: .5rem;*/
    /*border: 1px solid rgba(21, 47, 59, 0.39);*/
    /*box-shadow: 0 0 1rem #042333;*/
    /*z-index: 999999999999999999;*/
/*}*/
.icon-icon-loading{
    position: absolute;
    top: 2rem;
    color: rgba(189, 213, 224, 0.78);
    left: 3rem;
    font-size: 4rem;
    -webkit-animation: 1.3s loading linear infinite;
    animation: 1.3s loading linear infinite;
}
.percentage{
    /*display: none;*/
    position: fixed;
    top:50%;
    left: 50%;
    width: 5rem;
    margin-left: -2.5rem;
    margin-top: -1.4rem;
    text-align: center;
    color: #a6e2f5;
}
.percentage p{
    font-size: 2rem;
    font-weight: 600;
}
.reload{
    display: none;
    height: 3rem;
    line-height: 3rem;
    background: rgba(0, 0, 0, 0.43);
}
.reload p{
    font-weight: 600;
    color: #e1f5fb;
    -webkit-animation: 1.3s flash linear infinite;
    animation: 1.3s flash linear infinite;
}
    /*radio*/
.ui-radio input:before {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #8aa3c2;
    border-radius: 1.4rem;
}
.ui-radio input:checked:after {
    width: .9rem;
    height: .9rem;
    background: #97d3ff;
    left: .3rem;
    top: .3rem;
}
    /*END radio*/
    /*提示*/
.msg{
    position: fixed;
    left: 50%;
    margin-left: -11rem;
    width: 22rem;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 2rem;
    z-index: 9;
    text-shadow: 0.2rem 0.2rem 0.2rem #000;
}
.msg.error{
    background: rgba(215, 22, 22, 0.7);
}
.msg.info{
    background: rgba(22, 160, 215, 0.7);
}
.msg.black{
    background: rgba(0, 0, 0, 0.8);
}
.msg.success{
    background: rgba(22, 215, 65, 0.7);
}
.msg.bottom{
    bottom: 5rem;
    -webkit-animation: .3s bottom-message ease-out forwards;
    animation: .3s bottom-message ease-out forwards;
}
.msg.top{
    top: 5rem;
    animation: .3s top-message ease-out forwards;
}
.msg.center{
    top: 45%;
}
.msg.square{
    border-radius: .5rem;
}
.msg.close::before{
    content:'x' ;
    font-size: 1.6rem;
    line-height: 2rem;
    background: inherit;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: -1rem;
    top: -1rem;
    border-radius: 1rem;
}
.loading-btn{
    overflow: hidden;
}
.loading-btn::after{
    content: '';
    height: 100%;
    width: .5rem;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(232, 243, 255, 0.31);
    box-shadow: 0 0 2rem rgba(232, 243, 255, 0.8);
    -webkit-animation: 2s loadingBtn ease-in-out infinite;
    animation: 2s loadingBtn ease-in-out infinite;
}
    /*END底部提示*/
    /*search box*/
.search-box{
    position: relative;
}
.search-box .search-button,.search-box .search-clear{
    position: absolute;
    right:0;
    top: .2rem;
}
.search-box .search-clear{
    display: none;
}
.search-box input{
    height: 2.6rem;
}
#searchKeys li{
    display: inline-block;
    padding: .6rem 1.2rem;
    margin: .8rem;
    border-radius: .5rem;
    background: #ececec;
}
    /*END search box*/
    /*弹窗*/
.popup-win{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top:0;
    left: 0;
    right: 0;
    background: rgba(3, 10, 16, 0.8);
    overflow-y: scroll;
    height: 100%;
    z-index: 9999;
    font-size: 1.2rem;
    padding: 1rem;
}
    /*END 弹窗*/
    /*Dialog*/
.dialog-box{
    /*position: fixed;*/
    /*background: rgba(25, 95, 147, 0.8);*/
    /*border: .1rem solid #3067ad;*/
    /*border-radius: .5rem;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*width: 26rem;*/
    /*margin-left: -13rem;*/
    /*margin-top: -5rem;*/
    /*padding: .5rem;*/
    /*box-shadow: 0 0 3rem rgba(33, 150, 243, 0.65) inset;*/
    /*outline: none;*/
    /*appearance: none;*/
    /*-moz-appearance: none;*/
    /*-webkit-appearance: none;*/
}
.ui-dialog-cnt{
    border-top: none;
}
.ui-dialog-ft button{
    font-size: inherit;
}
.dialog-box.success{
    background: rgba(25, 147, 114, 0.9);
    border: .1rem solid #30ad50;
    box-shadow: 0 0 3rem rgba(33, 243, 180, 0.65) inset;
}
.dialog-box.error{
    background: rgba(142, 53, 63, 0.9);
    border: .1rem solid #ad3030;
    box-shadow: 0 0 3rem rgb(247, 108, 117) inset;
}
.dialog-box.info{
    background: rgba(19, 126, 169, 0.9);
    border: .1rem solid #258ac5;
    box-shadow: 0 0 3rem rgba(33, 150, 243, 0.65) inset;
}
    /*END Dialog*/
/*END组件*/


/*login page*/
img.logo-login{
    margin-top: -4rem;
    width: 8rem;
}
.login-signup-btn{
    position: relative;
    margin-bottom: -3.5rem;
}
.toggle-form-btn{
    margin-top: 4rem;
}
#phoneNumber-box,.select-country-code{
    position: relative;
}
.select-country-code-btn{
    display: inline-block;
    height: 24px;
}
.select-country-code{
    height: 24px;
    justify-content: center;
}
.country-list{
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 20rem;
    background: #F9FAFC;
    overflow: scroll;
    padding: 1rem;
    z-index: 9;
}
.country-list li{
    padding: .5rem 0;
    border-bottom: 1px solid #ececec;
    color: #a1a1a1;
}
.country-list span{
    display: inline-block;
    width: 4rem;
}
.select-country-code i{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg);
}
.welcomeTable td{
    height: 3rem;
}
#singup2{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    text-align: center;
}
#singup2.active{
    background: #78c2f0;
    color: #fcfcfc;
}
/*index*/
#footer_list {
    height: 50px;
    width: 100%;
}
#footer_list li.list_li{
    /*position: relative;*/
    color: #90bbf5;
}
#footer_list li.list_li span{
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: .5rem;
}
#footer_list li.list_li i.new-info,.shopping.addShopping-bar i.new-cart,.top-btn-tips.unread::after{
    position: absolute;
    display: none;
    top:0;
    right: -.5rem;
    min-width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background: #e12c1d;
    color: #fff;
}
#footer_list strong{
    display: block;
}
.top-btn-tips.unread::after{
    content: attr(data-count);
    top:1.2rem;
    right: -2rem;
    min-width: 1.6rem;
    height: 1.6rem;
    display: block;
    line-height: 1.6rem;
}
#contactBtn.top-btn-tips.unread::after{
    top:1.3rem;
    right: -1.5rem;
    min-width: 1rem;
    height: 1rem;
}
.shopping.addShopping-bar i.new-cart{
    display: block;
    top:.2rem;
    right: 1rem;
    height: 1.6rem;
    min-width: 1.6rem;
    color: #f0f0f0;
    text-align: center;
    line-height: 1.6rem;
    font-size: 1.2rem;
}
#footer_list li.list_li.active{
    color: #fff;
}
#footer_list .list_bar {
    position: absolute;
    bottom: .5rem;
    left: 0;
    height: 2px;
    width: 25%;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
#footer_list .list_bar .list_bar_inner {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    left: 50%;
    background-color: #0088c5;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.ui-header-positive {
    background-color:rgba(0, 0, 0, 0);
    color: #f9fbff;
    padding:0;
}
.ui-header ul{
    padding: .5rem 0;
}
.ui-header li:first-child,.ui-header li:last-child{
    background: rgba(3, 16, 25, 0.5);
    border-radius: 0 1rem 1rem 0;
    text-align: center;
}
.ui-header li:last-child{
    border-radius: 1rem 0 0 1rem;
}
header .header_content {
    width: 100%;
    height: 5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.dashboard .dashboard,.products .products,.social .social,.profile .profile{
    display: flex;
}
.product-page .media{
    padding: .5rem;
}
#navBar_products,#navBar_social {
    background-color: #384a60;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:  5rem;
    font-size: 1.2rem;
    z-index: 100;
}
#navBar_products span.navBar_btn,#navBar_social span.navBar_btn{
    line-height: 6.5rem;
    color: #b9b9b9;
}
#navBar_products span.navBar_btn.active,#navBar_social span.navBar_btn.active{
    line-height: 6.5rem;
    color: #fff;
    font-weight: 700;
}
.navBar .navBar_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 33.3333%;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.navBar .navBar_bar .navBar_bar_inner {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 40%;
    background-color: #0088c5;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.header_content.social .top-btn-tips{
    position: relative;
}
/*.top-btn-tips.unread::after{*/
    /*content: ' ';*/
    /*display: block;*/
    /*position: absolute;*/
    /*top:1.5rem;*/
    /*right: -.5rem;*/
    /*min-width: 1rem;*/
    /*height: 1rem;*/
    /*border-radius: 1rem;*/
    /*background: #8a0d19;*/
/*}*/

/*products*/
.product-page.ui-row{
    margin-left: -10px;
    margin-right: -10px;
}
.product-tag{
    font-size: 1.2rem;
    text-align: center;
    padding: .2rem;
    /*border-bottom:.1rem solid  rgba(7, 33, 46, 0.9);*/
    -webkit-transition: all .7s  ease-in-out;
    transition: background-color .7s  ease-in-out;
}
.product-tag span{
    display: inline-block;
    width: 90%;
    height: 2rem;
    line-height: 2rem;
    border-radius: 2rem;
}
.product-tag.current-tag span{
    background: #f7f7f7;
    font-weight: 800;
    /*border-bottom:.1rem solid #163c62;*/
}
.progressive-header .product-tag.current-tag{
    background: rgb(13, 19, 27);
    border-bottom: .1rem solid rgb(13, 19, 27);;
}
/*.media {*/
    /*padding: .5rem;*/
/*}*/
.media-box{
    padding: .5rem;
    background: rgba(18, 33, 43, 0.46);
    border-radius: .5rem;
    font-size: 1.2rem;
}
/*.media-box img{*/
    /*border-radius: .5rem .5rem 0 0;*/
/*}*/
.upload-video-box{
    border-radius: .5rem;
    background: #f2f2f2;
}
.transformLarge{
    width: 150rem !important;
    height: 150rem !important;
    bottom: -50rem !important;
    right:  -50rem !important;
    background: rgba(24, 31, 36, 0.85) !important;
}
#addProductBtn,#addMomentBtn,#addFriendsBtn{
    position: fixed;
    right: 2rem;
    bottom: 6rem;
    background: rgba(11, 103, 184, 0.8);
    width: 6rem;
    height: 6rem;
    border-radius: 50rem;
    text-align: center;
    line-height: 6rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
#addProductBtn i{
    font-size: 3rem;
    color: rgba(204, 229, 245, 0.8);
}

/* 添加产品 */

#uploadImgBox li{
    padding: .3rem;
    position: relative;
}
#uploadImgBox .media-box,#uploadVideoBox .media-box{
    height: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    position: relative;
}
#uploadImgBox .media-box.del::after{
    position: absolute;
    content: 'X';
    color: #fff;
    top: -.3rem;
    right: -.3rem;
    width: 2rem;
    height: 2rem;
    background: rgba(224, 10, 30, 0.6);
    border-radius: 2rem;
    text-align: center;
    line-height: 2rem;
}
.show-video-box,.moment-video {
    display: none;
    width: 100%;
    max-height: 16rem;
    height: 16rem;
    background: #000;
}
#showAudio,#otherProduct,#imgProduct{
    width: 100%;
    display: none;
}
.videoDisplay{
    width: 100%;
    max-height: 20rem;
    background: #02060c;
}
.slider-container {
    width: 100% !important;
    padding: 0 1.5rem;
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#proDetailPhoto.swiper-container,.recommend-container.swiper-container,.tweebaaProduct.swiper-container{
    display: block;
    height: 30rem;
    position: relative;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    background: rgba(0, 0, 0, 0.28);
}
#tweebaaProducts .swiper-container.tweebaaProduct{
    margin-right: -1rem;
    margin-left: -1rem;
}
.recommend-container.swiper-container{
    height: 20rem;
    background: #F9FAFC;
    padding: 2rem 1rem;
}
.recommend-container.swiper-container .swiper-slide,.tweebaaProduct.swiper-container .swiper-slide{
    background: #fff;
    box-shadow: 0 0.5rem 2rem #ececec;
    flex-direction: column;
    justify-content: space-around;
    border-radius: .5rem;
}
.recommend-container.swiper-container .swiper-slide .tycoon-avatar{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.tweebaaProduct.swiper-container{
    height: auto;
    line-height: initial;
    background: #fff;
}
.tweebaaProduct.swiper-container .swiper-slide{
    justify-content: flex-start;
    align-items: flex-start;
}
.moment-item .tycoon-avatar{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
#proDetailPhoto.swiper-container video{
    max-height: 100%;
    width: 100%;
    position: relative;
}
#proDetailPhoto.swiper-container .video-icon::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff3cd;
    z-index: 9999;
    width: 5rem;
    height: 5rem;
    margin-top: -2.5rem;
    margin-left: -2.5rem;
    display: block;
    background: url("../image/Video-Play-Icon-Picture.png") center center no-repeat;
    background-size: cover;
}
#proDetailPhoto .close-swiper{
    display: none;
}
#proDetailPhoto .swiper-pagination-fraction {
    bottom: 10px;
    right: 1rem;
    left: auto;
    width: 5rem;
    height: 2rem;
    text-align: right;
    font-size: 1.2rem;
    color: #afafaf;
    padding-right: 1rem;
}
.swiper-container {
    display: none;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #02060c;
    line-height: 50%;
 }
.product-detail .swiper-container {
    z-index: 99;
}
.product-detail video,.product-detail iframe{
    width: 100%;
    height: auto;
    max-height: 20rem;
}
.swiper-pagination-bullet {
    background: #fff;
    opacity: .5;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #275382;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.close-swiper{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    border-radius: 2rem;
    background: #17324e;
    color: #7f99d8;
    z-index: 9999;
}
body.product-detail .evaluation-box,body.product-detail #evaluateProductBtn{
    display: none;
}
.evaluation-selection{
    position: relative;
}
.evaluation-selection .ui-switch{
    margin-top: -.2rem;
}
.evaluation-box p{
    height: 3rem;
}
.evaluation-box textarea#evaluationComments{
    background: rgba(0, 0, 0, 0.1);
    border-radius: .3rem;
    padding: .5rem;
}

   /* new add product*/
.switch-img-video {
    position: absolute;
    z-index: 10000;
    bottom: 1rem;
    left: 50%;
    margin-left: -80px;
}
.switch-img-video span{
    display: inline-block;
    background: #e6e6e6;
    width: 7rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 1rem;
    margin-right: .5rem;
}
.switch-img-video span.active{
    background: #78c2f0;
    color: #fff;
}
.full-description img{
    width: 100%;
    height: auto;
}
   /* end new add product*/

/*产品列表中区分tweebaa产品*/
ul.product-page li{
    position: relative;
}
ul.product-page li.tweebaa-tag::before,ul.product-page li.added-tag::before {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: block;
    content: '';
    text-align: center;
    width: 0;
    height: 0;
    border-top: 2.5rem solid #2b73ad;
    border-right: 2.5rem solid transparent;
}
ul.product-page li.tweebaa-tag::after,ul.product-page li.added-tag::after  {
    position: absolute;
    top: 1rem;
    left: 1.4rem;
    display: block;
    content: 'T';
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 1.2rem;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* Internet Explorer */
    -moz-transform: rotate(-45deg); /* Firefox */
    -webkit-transform: rotate(-45deg); /* Safari 和 Chrome */
    -o-transform: rotate(-45deg); /* Opera */
}
ul.product-page li.added-tag::after{
    content: '√';
}
#tweebaaProductList .media-body{
    position: relative;
}
#tweebaaProductList .media-body .profit-rate{
    position: absolute;
    bottom: 4rem;
    right: .5rem;
    font-weight: 700;
    color: #00ff95;
}
#tweebaaProductList li.evaluated button.ui-btn-success,#tweebaaProductList li button.ui-btn-primary{
    display: none;
}
#tweebaaProductList li.evaluated button.ui-btn-primary{
    display: block;
}
#tweebaaProducts .products-box .products-img{
    border-radius: .5rem;
    border: 1px solid #f7f7f7;
    margin: auto;
}
#tweebaaProducts .products-box .name,#tweebaaProducts .products-box .price{
    height: 3.5rem;
    overflow: hidden;
    padding: .3rem;
}
.products-box .products-box-title{
    position: relative;
}
.products-box .products-box-title p{
    position: absolute;
    right: 1rem;
    bottom: 0;
}
/*order*/
.order-box{
    position: relative;
}
.order-box #orderTime{
    position: absolute;
    right: .5rem;
    top:.5rem;
}
.order-status{
    margin-top: .8rem;
    text-align: center;
}
.order-status-text{
    font-size: 1.2rem;
    font-weight: 900;
}
.order-status-text.Pending{
    color: #ffad44;
}
.order-status-text.Processing{
    color: #0bb3a5;
}
.order-status-text.Complete{
    color: #32a936;
}
.order-status-text.Canelled{
    color: #b30b38;
}
.order-status-text.NewOrder{
     color: #7fc7fd;
 }
.order-head{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}
.order-head-info{
    display: inline-block;
    padding-left: 2rem;
}
.round-name{
    width: 4rem;
    height: 4rem;
    display: inline-block;
    background: rgba(240, 79, 94, 0.6);
    text-align: center;
    line-height: 4rem;
    font-weight: 900;
    font-size: 2rem;
    border-radius: 2rem;
}
.order-items-left{
    height: 6rem;
}
.order-total{
    font-size: 2.4rem;
    border-bottom: 1px solid #ccc;
}
i.order-items-more{
    display: inline-block;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); 	/* Opera */
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
}
i.order-items-more.show{
    display: inline-block;
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); 	/* IE 9 */
    -moz-transform:rotate(-90deg); 	/* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
    -o-transform:rotate(-90deg); 	/* Opera */
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
}
table#orderItemsTable{
    display: none;
}
table#orderItemsTable thead th,table#orderItemsTable tr td:first-child{
    text-align: left;
    padding-left: 1rem;
    height: 3rem;
}
.order-head,.order-foot{
    background: rgba(36, 118, 176, 0.2);
    padding: 2rem 1rem;
}
#shippingAddress{
    min-height: 3.6rem;
}
.status-bar{
    height: .3rem;
    background: #a7c1e0;
    border-radius: .2rem;
}
.status-bar .nav-item{
    visibility: hidden;
    height: .3rem;
    background: #19b6da;
    position: relative;
}
.status-bar .nav-item:first-child{
    border-radius: .2rem 0 0 .2rem;
}
.status-bar .nav-item:nth-child(odd) i{
    visibility: hidden;
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: -1rem;
    top:-.9rem;
    background: #19b6da;
    z-index: 1;
    border-radius: 2rem;
    text-align: center;
    line-height: 2.2rem;
    font-size: 1rem;
}
.status-bar.NewOrder .nav-item:nth-child(1),.status-bar.NewOrder .nav-item:nth-child(1) i{
    visibility: visible;
}
.status-bar.Pending .nav-item:nth-child(-n+3),.status-bar.Pending .nav-item:nth-child(3) i{
    visibility: visible;
}
.status-bar.Processing .nav-item:nth-child(-n+5),.status-bar.Processing .nav-item:nth-child(5) i{
    visibility: visible;
}
.status-bar.Complete .nav-item:nth-child(-n+8),.status-bar.Complete .nav-item:nth-child(7) i{
    visibility: visible;
}
.order-canceled{
    display: none;
    font-weight: 600;
    position: fixed;
    font-size: 2rem;
    top:50%;
    left: 50%;
    z-index: 2;
    margin-left: -4rem;
    margin-top: -2rem;
    opacity: .7;
    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg); 	/* IE 9 */
    -moz-transform:rotate(-45deg); 	/* Firefox */
    -webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
    -o-transform:rotate(-45deg);
}
/*个人中心*/
.header-full{
    height: 100%;
    /*background: rgba(221, 242, 255, 0.3);*/
}
.header-full.profile-header{
    background-color: #78c2f0 !important;
    color: #f9f9f9;
}
.header-full.profile-header ul.ui-list,.header-full.profile-header .ui-btn,.header-full.profile-header .ui-list-info p{
    background-color: #78c2f0 !important;
    color: #f9f9f9;
}
.portrait-box{
    position: relative;
}
.check-in-btn.active i.icon-qiandao,.check-in-btn.active span.check-in,.check-in-btn div{
    display: none;
}
.check-in-btn.active i{
    color: #60c770;
}
.check-in-btn.active div{
    display: block;
}
sub.vip-level{
    font-style:italic
}
img.portrait{
    display: inline-block;
    width: 10rem;
    height:10rem;
    border: .3rem solid #fff;
    border-radius: 7rem;
}
.change-portrait{
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 1rem;
    background: #77c1ee;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 2rem;
    text-align: center;
    line-height: 1.2rem;
    font-size: 1.4rem;
    color: #fff;
    border: .2rem solid #fff;
}
.function-box{
    padding: 1.8rem;
    transition: background ease 1s;
    -webkit-transition: background ease 1s;
}
.function-box.on{
    background: rgba(255, 255, 255, 0.4) !important;
}
.function-box.st-0{
    background: rgba(103, 185, 234, .1);
}
.function-box.st-1{
    background: rgba(103, 185, 234, .3);
}
.function-box.st-2{
    background: rgba(103, 185, 234, .5);
}
.function-box.st-3{
    background: rgba(103, 185, 234, .7);
}
.function-box.st-4{
    background: rgba(103, 185, 234, .9);
}
.function-box i{
    padding: .8rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
}
.function-box span{
    padding-left: 1rem;
    font-size: 1.4rem;
}

/*profile*/
    /*change portrait*/
#clipArea {
    height: calc(100vh - 55px);
}
.crop-img-btn .ui-btn{
    width: 11rem;
    margin: 0 auto;
}
.portrait-view {
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
    border: .2rem solid;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.portrait-view.portrait-circle{
    border-radius: 5rem;
}
    /*home page*/
li.home-pro-list{
    padding: 1rem 0;
    background: rgba(155, 171, 181, 0.6);
    margin: .5rem;
    border-radius: .5rem;
    font-size: 1.2rem;
}

    /*share place*/
.button-list li.button-item{
    padding: 1rem;
    margin: 2rem .5rem;
    background: rgba(43, 60, 83, 0.7);
    border-radius: .5rem;
    font-size: 1.4rem;
}
.button-list li.button-item i{
    display: inline-block;
    font-size: 2rem;
    background: rgba(239, 239, 239, 0.6);
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    color: #144571;
    border-radius: .5rem;
    margin-top: .5rem;
}
.button-list li.button-item .button-text{
    font-size: 1rem;
}
.qrcode-box img {
    margin: 0 auto;
    border: .5rem solid #404040;
}
#qrcode img{
    margin: 0 auto;
    border: 2rem solid #fff;
}
#qrcode.share-page img{
    width: 15rem;
    height: 15rem;
}
.invite-link{
    word-break: break-all;
}
  /*connect page*/
.connect-box .ui-row-flex{
    min-height: 6rem;
}
.connect-box i.icon{
    display: inline-block;
    background: rgba(25, 95, 147, 0.7);
    width: 5rem;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    border-radius: 3rem;
    font-size: 2rem;
}
.connect-box .bound i.icon-wechat{
    background:rgba(60, 147, 25, 0.7);
}
.connect-box .bound i.icon-facebook{
    background:rgba(19, 155, 255, 0.7);
}
.connect-box .bound i.icon-google{
    background:rgba(193, 28, 9, 0.7);
}
    /*setting*/
.changepassword,.changeLanguage,.changeFontSize,.changeChatFontSize{
    display: none;
}
#changetycoonName.bounce-box-left .changetycoonName,#changepassword.bounce-box-left .changepassword,
#changeLanguage.bounce-box-left .changeLanguage,#changeFontSize.bounce-box-left .changeFontSize,#changeFontSize.bounce-box-left .changeChatFontSize {
    display: block;
}
.show-text-box{
    height: 15rem;
    background: #263e5a;
}
#setting-chat-text .chat-box .get-msg,#setting-chat-text .chat-box .sand-msg{
    display: inline-block;
    position: relative;
    padding: 1rem;
    max-width: 75%;
    background: rgba(35, 99, 156, 0.8);
    border-radius: .5rem;
    margin: 1.5rem .5rem 1rem .5rem;
    float: right;
    text-align: left;
    font-size: 1.4rem;
}
#setting-chat-text .chat-box .sand-msg{
    background: rgba(240, 251, 255, 0.8);
    color: #272727;
    float: left;
}
.chat-box .get-msg img,.chat-box .sand-msg img{
    vertical-align:middle;
}
/*dashboard*/
.dashboard-ul li{
    padding: 1rem 0;
}
.page-view-list li{
    background: #152333;
    margin-bottom: .8rem;
    padding: .5rem;
    border-radius: .3rem;
}
.page-view-list li div:first-child{
    min-height: 2rem;
}
.chart-box{
    position: relative;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 0 0.5rem #f0f0f0;
}
.chart-box::after{
    position: absolute;
    left: 50%;
    bottom: -.7rem;
    content: '';
    display: block;
    margin-left: -13rem;
    width: 26rem;
    height: 5rem;
    z-index: -1;
    border-radius: .5rem;
    background: #fbfbfb;
    box-shadow: 0 .5rem 2rem #ececec;
}
/*moment*/
.moment-item{
    padding: 1rem;
    margin-bottom: 1rem;
}
.moment-item:first-child{
    margin-top: 1rem;
}
.moment-item .moment-date{
    display: flex;
    align-items: center;
    position: relative;
}
.moment-item .moment-btn-group i{
    display: inline-block;
    padding: .5rem;
}
.moment-pictures{
    text-align: center;
}
.moment-pictures .moment-pic-box{
    display: inline-block;
    float: left;
    padding: .5rem;
}
.moment-pictures .img-box{
    background-size:cover;
    background: center center no-repeat;
    width: 100%;
    height: 100%;
}
.swiper-container,.swiper-wrapper,.swiper-slide,.swiper-zoom-container{
    touch-action: none;
}
.moment-video{
    display: block;
}
.moment-item .moment-content.overflow{
    height: 65px;
    overflow: hidden;
    position: relative;
}
.moment-item .moment-content.overflow::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
}
.moment-item  .moment-content-extend {
    cursor: pointer;
    padding-left: 10px;
}
/*聊天部分*/
   /*朋友列表*/
#conversationList{
    min-height: 50rem;
}
#conversationList li{
    padding: 1rem;
}
#friendsList{
    min-height: 50rem;
}
.unread-tips {
    display: inline-block;
    text-align: center;
    min-width: 1.6rem;
    height: 1.6rem;
    font-size: 1rem;
    border-radius: 1rem;
    background: rgba(216, 59, 74, 0.6);
    color: #fff3cd;
    font-weight: 600;
    line-height: 1.8rem;
    margin-left: .5rem;
}

.contact-list-friends-header,.searchF-list-friends-header,.conversation-list-friends-header{
    color: #1f62a9;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background: #c5c5c5;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 2rem;
    font-weight: 700;
    text-transform:uppercase;
}
.contact-list-friends-info,.searchF-list-friends-info,.conversation-list-friends-info{
    display: inline-block;
    height: 4.6rem;
    width: auto;
    font-size: 2rem;
    margin-left: 1rem;
}
.conversation-list-friends-info p.ui-nowrap img{
    width: 2rem;
    height: 2rem;
}
.ui-dialog-hd img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.ui-dialog-ft{
    display: flex;
    justify-content: space-around;
}
.ui-dialog-ft span{
    display: block;
    flex-basis: 13rem;
    text-align: center;
    padding: .3rem 1rem;
    font-weight: 600;
    border-radius: 1rem;
    font-size: 12px;
}
    /*聊天页面*/
#friendsName{
    font-weight: 700;
}
.chat-box::after{
    position: relative;
    display: block;
    clear: both;
    content: "";
}
.chat-box{
    position: relative;
}
.show-chat{
    margin-left: -1rem;
    margin-right: -1rem;
}
#showChat{
    min-height: 80vh;
}
#showChat span.sand-msg, #showChat span.get-msg {
    display: inline-block;
    position: relative;
    padding: 1rem;
    max-width: 75%;
    background: rgba(35, 99, 156, 0.8);
    border-radius: .5rem;
    margin: 2.4rem .5rem 2.5rem .5rem;
    float: right;
    text-align: left;
    font-size: 1.4rem;
}

#showChat span.get-msg {
    background: rgba(240, 251, 255, 0.8);
    color: #272727;
    float: left;
}
#showChat span.sand-msg .emo,#showChat span.get-msg .emo{
  width: 2rem;
  height: 2rem;
}
#showChat span.voice {
    width: 15rem;
}
#showChat .user-box-username-send,#showChat .user-box-username-get{
    position: absolute;
    display: block;
    text-align: right;
    padding-top: .8rem;
    right: 20%;
}
#showChat .user-box-username-get{
    text-align: left;
    left: 20%;
}
#showChat span.voice.play {
    -webkit-animation: play 2s infinite linear;
    animation: play 2s infinite linear;
}
#showChat div.clearfix {
    position: relative;
}
#showChat p.sand-msg-time, #showChat p.get-msg-time {
    position: absolute;
    background: none;
    display: inline-block;
    bottom: 1rem;
    right: 20%;
    font-size: .9rem;
    text-align: right;
    color: #c1c1c1;
}
#showChat p.get-msg-time {
    text-align: left;
    right: 0;
    left: 20%;
}

#showChat span.sand-msg.image .chat-img, #showChat span.get-msg.image .chat-img {
    border: none !important;
    max-width: 20rem;
    border-radius: .5rem;
    padding: 0 !important;
}

#showChat span.sand-msg.image, #showChat span.get-msg.image {
    border: none !important;
    padding: 0 !important;
    background: none;
}
.chat-day {
    font-size: 1.2rem;
    font-weight: 600;
    background: #4e555b;
    border-radius: .5rem;
    width: 24rem;
    /*display: inline-block;*/
    margin: 1rem auto;
}
.user-box-header,.add-user-box{
    width: 5.6rem;
    height: 5.6rem;
    text-align: center;
    line-height: 5.6rem;
    background: #c5c5c5;
    margin: .2rem auto;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #1f62a9;
    border-radius: 3rem;
}
.friend-profile-card{
    position: relative;
    width: 90%;
    height: 15rem;
    background: #fff;
    border-radius: .5rem;
    padding: .5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.friend-profile-card .user-profile-name{
    text-align: center;
    margin-top: 5rem;
}
.friend-profile-portrait{
    position: absolute;
    top: -3rem;
    left: 50%;
    margin-left: -3.5rem;
    width: 7rem;
    height: 7rem;
    border-radius: 4rem;
    border: .2rem solid #fff;
    box-shadow: 0 0 .5rem 2rem #ececec;
}
.friend-profile-btn{
    width: 100%;
    margin-top: 2rem;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
}
.friend-profile-btn span{
    flex-basis:10rem;
    text-align: center;
    padding: .5rem 1rem;
    box-shadow: 0 0.5rem 2rem #ececec;
    background: #77c1ee;
    color: #f2f2f2;
    border-radius: .5rem;
}
.friend-profile-btn button{
    width: 12rem;
}
.chat-user-box{
    width: 18%;
    padding-top: .9rem;
}
.chat-user-box .user-box-header{
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 3rem;
    border-radius: 2rem;
}
.add-user-box{
    font-size: 3rem;
    background: #2b384a;
    border: .1rem solid #99b9da;
    color: #c5c5c5;
}
.check-box{
    position: absolute;
    right: 1rem;
    top:1.5rem;
    width: 1.6rem;
    height: 1.6rem;
    border: .1rem solid #ababab;
    background: #13283e;
    text-align: center;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color:#13283e;
}
.contact-list-friends{
    position: relative;
    display: flex;
    align-items: center;
}
.contact-list-friends.true{
    background: rgba(2, 100, 131, 0.5);
}
.contact-list-friends.checked .check-box{
    background: #218db5;
    color:#fff;
}
.contact-list-friends .chat-time{
    position: absolute;
    top:.5rem;
    right: .5rem;
}
.contact-list-friends p.ui-nowrap img{
    vertical-align:middle
}
.user-profile-left{
    position: absolute;
    left: 2rem;
    top: 2rem;
    display: inline-block;
    width: 6rem;
    height: 6rem;
}
.user-profile-right{
    margin-left: 7rem;
    display: inline-block;
    width: auto;
    height: 6rem;
}
.user-profile-name,.user-profile-id{
    height: 3rem;
    line-height: 4rem;
}
    /*弹出按钮*/
.popup-select {
    position: absolute;
    font-size: 1.2rem;
    color: #fff;
    background: rgba(55, 52, 52, 0.53);
    padding: 1rem;
    border-radius: .5rem;
    bottom: 1rem;
    height: 4rem;
    margin-left: -8rem;
    z-index: 9;
}
.popup-select-list{
    position: fixed;
    background: rgba(200, 200, 200, 0.9);
    font-size: 1.4rem;
    width: 10rem;
    z-index: 9;
    border-radius: .5rem;
}
.popup-select-list li{
    padding: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.popup-select-list li:not(:first-child){
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
#copyText{
    opacity: 0;
    position: absolute;
    z-index: -1;
    top:0;
}
/*搜索朋友*/
.clear-result{
    display: none;
    background: rgba(246, 50, 50, 0.5);
    font-size: 1.2rem;
    padding: .5rem;
    border-radius: .5rem;
}
.modal-box{
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.modal-box .close{
    position: absolute;
    right: 2rem;
    top: 2rem;
}
.modal-box .download-img-btn{
    position: absolute;
    left: 2rem;
    top: 2rem;
}
.show-random-name {
    color: #fff;
    text-align: center;
    margin-top: 40%;
}

.show-random-name span {
    display: none;
    color: #0f87ce;
    text-shadow: 0 0 1rem #0a81c6;
}

.random-tips, .random-buttons, .added-friends-list {
    display: none;
}

.name-box span {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    color: #c7eaff;
    font-size: 1.2rem;
}

/* 折叠动画*/
.sk-folding-cube {
    margin: 30% auto;
    width: 80px;
    height: 80px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

/*钱包*/
.balance-box{
    position: relative;
    width: 24rem;
    height: 12rem;
    background: #10324d;
    background-image: radial-gradient(circle at 50% 0%, #1f5e90, #10324d);
    border-radius: 1rem;
    margin: 0 auto;
    padding: 1rem;
}
.balance-box::before,.balance-box::after{
    content: '';
    position: absolute;
    display: inline-block;
    width: 24rem;
    height: 12rem;
    top: 0;
    left: 0;
    background: #849fb0;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 1rem;
    z-index: -2;
    transform: rotate(-4deg);
}
.balance-box::after{
    background: #677d8f;
    z-index: -1;
    transform: rotate(4deg);
}
.balance-box .balance-logo{
    display: inline-block;
    width: 4.1rem;
    height: 4.1rem;
    vertical-align:top;
}
.balance-box  .balance-display{
    display: inline-block;
    width: 17rem;
}
.balance-box-click-area .balance-display i.icon{
    position: absolute;
    top:.5rem;
    right: .5rem;
    font-size: 2.8rem;
    color: #f9f2af;
}
.balance-box .balance-box-footer{
    width: 22rem;
    position: absolute;
    bottom: 1rem;
}

.balance-box .balance-btn{
    display: inline-block;
    padding: .2rem .5rem;
    font-size: 1.2rem;
    border-radius: .3rem;
    min-width: 3rem;
    text-align: center;
    background: #235e8d;
}
.wallet-bind-title-cn,.wallet-bind-title-com{
    display: none;
}
.balance-box .earnOutPutForm .ui-btn.ui-btn-success{
    height: 2rem;
    float: right;
    margin-top: .2rem;
    padding-top: 0;
    line-height: 2rem;
}
.balance{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding: 2rem 0 1rem 0;
}

.activeWalletBtn{
    display: none;
    padding: .3rem .8rem;
    background: #2d5b76;
    border-radius: .4rem;
}
.wallet-bind-box{
    width: 24rem;
    margin: 1rem auto 0 auto;
}
.wallet-bind-box input{
    width: 17rem;
    height: 2.6rem;
    margin-top: .8rem;
    border: none;
    background: rgba(12, 25, 41, 0.7);
    border-radius: .3rem;
    color: #f0f0f0;
    padding-left: 1rem;
}
.wallet-bind-box button.ui-btn.ui-btn-success{
    height: 4.8rem;
    margin-top: -2rem;
    float: right;
}
.balance-box .earnOutPutForm input[type='number']{
    margin-top: .2rem;
}
#walletAddress{
    -webkit-user-select: text;  /* Chrome all / Safari all /opera15+*/
    -moz-user-select: text;     /* Firefox all */
    -ms-user-select: text;      /* IE 10+ */
    user-select: text;
}
.coin-box .coin-display,.coin-box .balance-logo,.earning-box .earning-display,.earning-box .balance-logo{
    display: inline-block;
    vertical-align:top;
}
.coin-box .balance-logo,.earning-box .balance-logo,.earning-box .balance-logo img,.coin-box .balance-logo img{
    width: 80px;
    height: 80px;
}
.coin-box .coin-display,.earning-box .earning-display{
    width:-moz-calc(100% - 9rem);
    width:-webkit-calc(100% - 9rem);
    width: calc(100% - 9rem);
}
.transfer-history-box{
    position: relative;
    background: #25486C;
    margin-top: -2rem;
    border: 1px solid #1e334e;
    border-radius: .5rem .5rem 0 0;
    min-height: -moz-calc(100vh - 23rem);
    min-height: -webkit-calc(100vh - 23rem);
    min-height: calc(100vh - 23rem);
    transition: all ease-in-out 1s;
}
.transfer-history-box.transferHistory{
    background: #154837;
    transition: all ease-in-out 1s;
}
.transfer-history-title{
    position: relative;
}
.history-title-btn.inactive{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    color: #abe1fd;
}
.coins-history li{
    background: rgba(0, 0, 0, 0.1);
}
.earning-box .balance-status{
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding: 2rem;
    width: calc(100% + 3rem);
    background: rgba(0,0,0,.1);
}
/*列表样式*/
.list-style-even li:nth-child(odd){
    background: rgba(0, 0, 0, 0.2);
}
/*media page*/
.media-post-box{
    background: rgba(7, 22, 37, 0.6);
    padding: 1rem;
    margin-bottom: 1rem;
}
.media-post-box-left,.media-post-box-right{
    display: inline-block;
}
.media-post-box-left{
     width: 6rem;
    vertical-align: top;
 }
.media-post-box-left img.post-user-box-header{
    width: 5rem;
    height: 5rem;
}
.media-post-box-right{
    width:-moz-calc(100% - 6.8rem);
    width:-webkit-calc(100% -  6.8rem);
    width: calc(100% -  6.8rem);
    height: auto;
}
.media-post-box-left span.post-date{
   line-height: .8rem;
}
/*end media page*/
/*place-holder*/
.place-holder-load{
    opacity: .8;
    overflow: hidden;
}
.place-holder-load::after{
    content: '';
    height: 100%;
    width: 5rem;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to right, rgba(232, 243, 255, 0.1), rgba(232, 243, 255, 0.5) 50%, rgba(232, 243, 255, 0.1));;
    -webkit-animation: 1.5s loadingBtn ease-in-out infinite;
    animation: 1.5s loadingBtn ease-in-out infinite;
}
.place-holder-text-1,.place-holder-text-2{
    display: block;
    width: 100%;
    height: 1.4rem;
    background-color: #b3b3b3;
    border-radius: .2rem;
}
.place-holder-text-2{
    height: 1rem;
    background-color: #ccc;
}
.blur {
    -webkit-filter: blur(10px); /* Chrome, Opera */
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
/* end place-holder*/
/*shopping*/
.shopping.addShopping-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    border-top: 1px solid #c1c1c1;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shopping.settlement-bar{
    width: 100%;
    padding: 1rem 2rem;
    text-align: right;
}
.shopping.addShopping-bar button,.shopping.settlement-bar button{
    padding:0 2rem;
    height: 5rem;
    border: none;
    border-radius: 0;
    width: 6rem;
    line-height: 20px;
}
.shopping.addShopping-bar button.ui-btn.ui-btn-danger:active,.shopping.settlement-bar button.ui-btn.ui-btn-danger:active{
    background-color: rgba(1, 8, 14, 0.8) ;
}
.shopping-cart .shopping-cart-img-box{
     width: 90px;
     height: 90px;
     border: 1px solid #dedede;
     display: table-cell;
     vertical-align: middle;
     text-align: center;
 }
.shopping-cart .shopping-cart-img-box img{
    width: auto;
    height: 90px;
    margin: 0 auto;
}
.shopping-cart .quantity-ctrl,.shopping-cart .shopping-cart-quantity{
    display: inline-block;
    min-width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 2.8rem;
    border-radius: .2rem;
    background: #f6f6f6;
    margin-right: .3rem;
    border: 1px solid #dedede;
}
.shopping-cart .quantity-ctrl.disabled{
    pointer-events: none;
    color: #cccccc;
}
.shopping.settlement-bar .shopping-cart-price{
    font-size: 1.6rem;
    color: rgb(203, 66, 66);
}
ul.shopping-cart li{
    margin-top: 0;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
}
/* end shopping*/
/* address */
#userAddressList li{
    margin-top: 0;
    margin-bottom: 1rem;
}
.address-form .form-ctrl:not(select){
    padding-left: .5rem;
}
.address-form .form-ctrl{
    margin-top: 2rem;
    border-radius: 0;
}
.required{
    position: relative;
}
.required::after{
    content: '*';
    display: inline-block;
    position: absolute;
    right: .5rem;
    bottom: 0;
    color: #e84a4a;
}
.select-countries.required::after{
    top:2rem;
}

.address-form .form-ctrl.error{
    border-bottom: 1px solid #e84a4a;
}
/* end address */
/* new tewwbaa products page */
.front-categories-box li{
    height: 7rem;
    margin-top: .5em;
}
.front-categories-box p{
    padding: 0 .2rem;
    word-break: break-word;
}
.front-categories-box i{
    display: inline-block;
    width: 3.4rem;
    height: 3.4rem;
    color: #f0f0f0;
    background: #007aff;
    text-align: center;
    line-height: 3.2rem;
    border-radius: 2rem;
    margin-bottom: .5rem;
}
.products-category-list li{
    padding: .3rem;
    margin-bottom: .5rem;
}
.products-category-list li.active p{
    color: #73b3f8 !important;
    font-weight: 600;
}
.subcategory-list{
    display: flex;
    align-items: self-start;
    flex-wrap: wrap;
}
.subcategory-list .subcategory-item{
    display: flex;
    align-items: center;
    padding: .5rem;
    margin: 1rem .5rem;
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: .5rem;
    height: 5rem;
}
.four-category-box p.text-light-gray{
    height: 3.6rem;
}
.category-card{
    border-radius: 1rem;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.category-card.category-card-1{
    background: url("../image/category-card-1.jpg") center center  no-repeat ;
    background-size: cover;
    margin-bottom: 1rem;
}
.category-card.category-card-2{
    background: url("../image/category-card-2.jpg") center center  no-repeat ;
    background-size: cover;
    margin-bottom: 1rem;
}
.category-card.category-card-3{
    background: url("../image/category-card-3.jpg") center center  no-repeat ;
    background-size: cover;
}
.category-card .category-card-name{
    color: #FFF;
    font-weight: 600;
    font-size: 2.6rem;
    text-shadow: 1px 1px 2px #0b1118;
}
/* end new tewwbaa products page */
/* payment-result page*/
.payment-result{
    color: rgb(50, 204, 84);
}
.payment-result i{
    font-size: 1.6rem;
}
.payment-result.wrong{
    color: rgb(223, 68, 45);
}
.payment-result .payment-wrong,.payment-result.wrong .payment-ok{
    display: none;
}
.payment-result.wrong .payment-wrong{
    display: block;
}
/* end payment-result page*/
/* work place*/
.ctrl-box li{
    padding: 0 1rem 2rem 1rem;;
    position: relative;
}
.ctrl-box i{
    position: absolute;
    left: 1.2rem;
    top:1.8rem;
}
.ctrl-box .ctrl-box-item{
    border-radius: 0 0 1rem 1rem;
    height: 6rem;
    background: #fff;
    box-shadow: 0 0.5rem .5rem #ececec;
}
.ctrl-box .ctrl-box-item span{
    line-height: 6rem;
}
.ui-list-single h6,.ui-list-single h5 {
    -webkit-box-flex: 1;
}
.ui-list-single .ui-list-info{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
#changePortrait, #myPortrait{
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position:center center;
    border-radius: 40px;
}
.create-post-btn,.manage-post-btn{
    padding: .5rem 1rem;
    background: #79c3f2;
    color: #fff;
    border-radius: 2rem;
}
.create-post-btn{
    background: #41ca4a;
}
/* end work place*/
/* user profile*/
.profile-card{
    position: relative;
    display: flex;
    height: 23rem;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    background-color: #1b222a !important;
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center center;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
}
.profile-card #changePortrait{
    border: 2px solid #fff;
    width: 70px;
    height: 70px;
}
.profile-card .profile-card-footer{
    position:absolute;
    bottom: 1rem;
    width: 100vw;
}
.profile-card-footer .ui-btn.ui-btn-default,.profile-card-footer .ui-btn.ui-btn-default.active{
    box-shadow: none;
    height: auto;
    line-height: initial;
    background: none;
    border: none;
}
/* end user profile*/
/* search users*/
.ui-searchbar-wrap{
    height: 66px;
}
#searchUsers #followBtn{
    width: 108px;
}
.no-result{
    position: fixed;
    top: 50%;
    margin-left: -15px;
    line-height: 4rem;
    text-align: center;
    z-index: 1;
    width: 100%;
    color: #68b8ff;
}
/* end search users*/
/* tycoonplace */
.tycoonNav{
    padding: 1rem 0;
}
.tycoonNav.fixed{
    position: fixed;
    left: 0;
    top:0;
    width: 100vw;
    margin: 0;
    z-index: 9;
}
.tycoonNav .tycoonNav-btn.active{
    color: #73b3f8;
    font-weight: 600;
}
.tycoonList.productsList .products-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tycoonList.productsList .products-img{
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 1rem;
}
.tycoonList.productsList .products-body{
    height: 105px;
}
.tycoonList.productsList .products-title{
    height: 65px; overflow: hidden;
}
.tycoonList.postsList .no-items{
    text-align: center;
    margin-top: 10rem;
    display: none;
}
.follow-list-btn{
    padding: .5rem 1rem;
    border: 1px solid #eee;
    border-radius: .5rem;
}
/* end tycoonplace */
.select-products-box{
    max-height: 12rem;
    overflow: scroll;
    background: #fafafa;
}
.select-products-box li{
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    padding: .5rem;
}
.select-products-box img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 5px;
}
#popularize-product-box{
    background: #F0F0F0;
    padding: .3rem .5rem;
}
#popularize-product-box img{
    width: 30px;
    height: 30px;
    border-radius: .2rem;
    vertical-align:middle;
    margin-right: .5rem;
    background: #fff;
}
#popularize-product-box span{
    vertical-align:middle;
    display: inline-block;
    overflow: hidden;
}
.poster-box{
    background: url("../image/invite-bg.jpg") center center no-repeat;
    width: 300px;
    height: 492px;
    margin: 5px auto;
}
.poster-box.open{
    background: url("../image/invite-bg.jpg") center center no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
}
.poster-box .user-avatar{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border:3px solid #f2f2f2;
}
/*purchase*/
.purchase-order img.ownerAvatar,.favorite-list img.ownerAvatar{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    vertical-align: center;
    margin-right: 1rem;
}
.purchase-order img.product-img,.favorite-list img.product-img{
    width: 60px;
    height: 60px;
    border-radius: .5rem;
}
.favorite-list img.product-img{
    width: 40px;
    height: 40px;
}
.purchase-order .purchase-item-owner,.purchase-order .purchase-item-info,.favorite-list .favorite-item-owner,.favorite-list .favorite-item-info{
    display: flex;
    align-items: center;
}
.purchase-order .purchase-item-info,.favorite-list .favorite-item-info{
    justify-content: space-between;
}
/* end purchase*/
/* profile 相关*/
.has-tags-list{
    display: flex;
    flex-wrap: wrap;
}
.has-tags-list li{
    padding: .3rem .8rem;
    background: #91d7ff;
    margin: .5rem;
    list-style: none;
    color: #f2f2f2;
    border-radius: 2rem;
}
.select-tags-list{
    position: absolute;
    width: 100%;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    top: 38px;
}
/* end profile 相关*/