
body {
    /*height: auto;*/
    background: #F9FAFC;
    color: #353535;
}
body.bk-img{
    background: #fff;
    /*background-size: cover;*/
}
body.chat{
    background: #f4f4f4;
    /*background-size: cover;*/
}
body.tutorial{
    background: transparent;
}
header{
    color: #fff;
}
footer{
    background-color: #f8f8f8;
    border-top: 1px solid #f0f0f0;
}
.bk-white{
    background: #fff !important;
}
.bk-none{
    background: transparent !important;
}
.bk-dark{
    background: #4d4d4d;
    color: #fff;
}
.bk-gray{
    background: #f2f2f2;
}
.bk-red{
    background: rgb(142, 42, 18);
    color: #fff;
}
.bk-purple{
    background: rgba(187, 22, 215, 0.4);
}
.bk-dark-blue{
    background: rgb(21, 82, 131);
    color: #fff;
}
.bk-light-blue{
    background: #73b3f8;
}
.votes-box .ui-progress::before,.votes-box .ui-progress::after{
    color: #f0f0f0;
}
.ui-progress span {
    background: linear-gradient(to right, #04d6ff, #00ff95);
}
.ui-checkbox input:before, .ui-checkbox-s input:before {
    color: #dedfe0;
}
.ui-checkbox input:checked:before, .ui-checkbox-s input:checked:before {
    color: #97d3ff;
}
/*END修改默认设置*/
/*文字相关*/
.text-count::after{
    color: #98d4ff;
}
.text-white{
    color:#f2f2f2 !important;
}
.text-white-h{
    color: #dfdfdf;
}
.text-blue{
    color:#77c1ee !important;
}
.text-yellow{
    color:#d7ba42 !important;
}
.text-red{
    color:#F40 !important;
}
.text-warning{
    color: #fb9651;
}
.text-green{
    color:rgb(50, 204, 84) !important;
}
.text-dark-gray{
    color: #6b6b6b;;
}
.text-light-gray{
    color: #a1a1a1;
}
.text-subtitle{
    font-size: 1.2rem !important;
    color: #404040 !important;
}
.circle-border{
    border:.2rem solid #a1a1a1;
}
.circle-border.active{
    border:.2rem solid  #77c1ee;
    background: #77c1ee;
    color: #fff;
}
.circle-border.bonus.active{
    border: .2rem solid #ea5e6b;
    background: #ea5e6b;
}
.circle-border::before{
    color: #a1a1a1;
}
.circle-border.bonus::before{
    color: #ea5e6b;
}
.check-in-btn.active i{
    color: #77c1ee !important;
}
/*END文字相关*/

/*组件*/
.line{
    border-bottom: 1px solid #eee;
}
/*渐进式页眉*/
/*教程*/
.swiper-container.tutorial,.swiper-container.tutorial.wallet,.container.tutorial.tutorialFirstLogin{
    background: rgba(0,0,0,0.9);
}

.swiper-container.tutorial .swiper-slide{
    color: #fff;
}
.container-box{
    background: #fff;
}
/*END 教程*/
/*box*/
.box,.box-p2,li.home-pro-list,.button-list li.button-item{
    background: #fbfbfb;
    box-shadow: 0 0.5rem 2rem #ececec;
    border: none;
}
.page-view-list li{
    border-radius: .5rem;
    background: #fbfbfb;
    box-shadow: 0 0.5rem 2rem #ececec;
}
.box-full{
    background: #fff;
    box-shadow: 0 0.5rem 2rem #ececec;
    border: none;
}
/* END box */
.ui-form{
    background: none;
}
/* 输入框 */
.form-ctrl{
    border: none;
    border-bottom: 1px solid #e4e4e4 !important;
}
.form-ctrl:focus{
    border-bottom: 1px solid #66d6fe !important;
}
.form-label{
    color: #a1a1a1;
}
.bk-dark .form-label{
    color: #fff;
}
/* END 输入框 */
/* checkbox */

.custom-control-label::before {
    border: 1px solid #ababab;
}
.custom-control-label::after ,.close-btn-circle{
    color: #a8a8a8;
}
.ui-switch input:before {
    border: .1rem solid;
    background-color: #f2f2f2;
    border-color: #a8a8a8;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    -webkit-box-shadow: #b3b3b3 0 0 0 0 inset;
}
.ui-switch input:checked:before {
    border-color: #66d6fe;
    box-shadow: #2c88d0 0 0 0 16px inset;
    -webkit-box-shadow: #66d6fe 0 0 0 16px inset;
    background-color: #66d6fe;
}
.ui-switch input:after {
    background-color: #fbfbfb;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}
/* END checkbox */
/*表格*/
table.table thead{
    border: none;
}
table.table tbody td{
    border: none;
    border-top: 1px solid #e4e4e4;
}
table.table tbody td:first-child{
    border-left: none;
}
table.table tbody td:last-child{
    border-right: none;
}
table.table .del-shipping-btn{
    background: none;
}
/*END 表格*/
/*上弹框*/

.share-box i{
    color: #fff;
}
.share-box i.icon-wechat,.share-box i.icon-dpstipiconfriends{
    background: #3cb034;
}
.share-box i.icon-facebook{
    background: #3a5795;
}
.share-box i.icon-google{
    background: #cd1d1c;
}
.share-box i.icon-twitter{
    background: #04a4ec;
}
.share-box i.icon-share-qq-zone{
    background: #F5BA3B;
    font-size: 2.6rem;
}
.share-box i.icon-weibo{
    background: #CF2A2F;
}
.share-box i.icon-mail{
    background: #22A4E2;
}
.share-box i.icon-order{
    background: #24A0B1;
}
/*END上弹框*/
/*按钮*/
.ui-btn{
    /*display: inline-block;*/
    border: none;
}
.ui-btn.ui-btn-default{
    border:1px solid #78c2f0;
    background-color: #78c2f0;
    color: #fff;
    box-shadow: 0 0.5rem 1rem #ececec;
}
.ui-btn.ui-btn-default.active{
    background-color: #39444d;
}
.ui-btn.btn-half-h{
    height: 2.4rem;
    line-height: 2.4rem;
}
.btn-nobg{
    background: none;
    color: #4d4d4d;
}
.btn-nobg:before{
    border: none !important;
}
.btn-nobg:not(.disabled):not(:disabled):active{
    background-color: rgba(1, 10, 17, 0) !important;
}
.icon-empty_fill{ /* 垃圾桶删除按钮 */
    color:rgb(255, 169, 169);
}
.ui-btn.ui-btn-primary,.ui-btn.ui-btn-success,.ui-btn.ui-btn-error,.ui-btn.ui-btn-inner,.ui-btn-danger{
    background-color: #383838;
    color: #fbfbfb;
}
.ui-btn-danger{
    background-color: #FB6155;
}
.ui-btn.ui-btn-success {
    background-color: rgb(66, 222, 127);
}
.ui-btn.ui-btn-error {
    background-color: rgba(246, 50, 50, 0.7);
}
.ui-btn.ui-btn-inner{
    background-color: rgba(43, 143, 255, 0.7);
}
.ui-btn-lg-nowhole,.ui-btn-s:not(.disabled):not(:disabled):active, .ui-btn-s.active, .ui-btn:not(.disabled):not(:disabled):active, .ui-btn.active,
.ui-btn-lg:not(.disabled):not(:disabled):active, .ui-btn-lg.active, .ui-btn-lg-nowhole:not(.disabled):not(:disabled):active, .ui-btn-lg-nowhole.active{
    background-color:#3485c6;
    color: #fbfbfb;
    border: none !important;
}
.ui-btn-s:before, .ui-btn:before, .ui-btn-lg:before, .ui-btn-lg-nowhole:before{
    border: none;
}
.question-mark::before,.attention-mark::before{
    background: rgb(54, 135, 199);
    color: #ddf6ff;
}
.attention-mark::before{
    background: rgb(147, 25, 25);
    color: #ffdef6;
}
.iconfont.icon-create,#edit-pro-btn .edit-pro-btn,#edit-pro-btn .icon-delete{
    padding: .5rem;
}
.ui-btn-info{
    background: #61d5fc;
    color: #fff;
}
.add-media-btn{
    color: #a8a8a8;
}
.profile-card-footer #followBtn span.unfollow i{
    color: #78c2f0;
}
#followBtn span.followed i{
    color: #f07c78;
}
/*END 按钮*/
/*loading*/
.no-item, .mic {
    color: #6b6b6b;
}
.mic {
    color: #ffffff;
    background: #0b1118;
}

/*.loading-box{*/
    /*background: none;*/
    /*border: none;*/
    /*box-shadow: none;*/
/*}*/
.icon-icon-loading{
    color: #78c5f1;
}
.percentage{
    color: #78c5f1;
    box-shadow: 1px 1px 1px #000;
}
.reload{
    background: rgba(0, 0, 0, 0.43);
}
.reload p{
    color: #e1f5fb;
}
/*radio*/
.ui-radio input:before {
    border: 1px solid #8aa3c2;
}
.ui-radio input:checked:after {
    background: #97d3ff;
}
/*END radio*/
/*提示*/
.msg{
    text-shadow: none;
    color: #f0f0f0;
    font-weight: 600;
}
.msg.error{
    background: rgba(215, 22, 22, 0.9);
}
.msg.info{
    background: rgba(22, 160, 215, 0.9);
}
.msg.black{
    background: rgba(0, 0, 0, 0.9);
}
.msg.success{
    background: rgba(22, 215, 65, 0.9);
}
.loading-btn::after{
    background: rgba(232, 243, 255, 0.31);
    box-shadow: 0 0 2rem rgba(232, 243, 255, 0.8);
}
#searchKeys li{
    background: #ececec;
}
/*END底部提示*/
/*弹窗*/
.popup-win{
    background: rgba(3, 10, 16, 0.8);
    color: #f0f0f0;
}
/*END 弹窗*/
.bottom-shadow{
    background: #ffffff;
    box-shadow: 0 0.5rem 2rem #ececec;
}
/*END组件*/
/*index*/
#footer_list li.list_li{
    color: #6e6e6e;
}
#footer_list li.list_li i.new-info,#footer_list li.list_li i.new-cart,.top-btn-tips.unread::after{
    background: #ea5d6b;
    color: #fff;
}
#footer_list li.list_li i.new-cart{
    color: #f0f0f0;
}
#footer_list li.list_li.active{
    color: #3485c6;
}
#footer_list i.icon{
    font-size: 2rem;
}
#footer_list .list_bar .list_bar_inner {
    background-color: #ffffff;
}
.ui-header-positive,.bounce-box-bottom,.bounce-box-left,#navBar_products,#navBar_social {
    background-color:#ffffff;
    /*box-shadow: 0 1px 0 #d7d7d7;*/
}
.bounce-box-bottom{
    border-top: 1px solid #eeeeee;
}
.ui-header ul {
     padding: 0;
}
.ui-header-positive i{
    color: #9a9a9a;
}
.ui-header li:first-child,.ui-header li:last-child{
    background: none;
}
.ui-header i{
    padding: .5rem;
    background: rgba(255,255,255,0.8);
    border-radius: 2rem;
}
#navBar_products span.navBar_btn,#navBar_social span.navBar_btn{
    color: #686868;
}
#navBar_products span.navBar_btn.active,#navBar_social span.navBar_btn.active{
    color: #000;
}
.navBar .navBar_bar .navBar_bar_inner {
    background-color: #fff;
}
.shortcut-box i{
    color: #5e5e5e;
}
.shortcut-btn i{
    color: #cccccc;
}
.shortcut-btn.active i{
    color: #77c1ee;
}
.product-tag{
    /*border-bottom:.1rem solid #a2e3ff;*/
}
.product-tag.current-tag span{
    background: #f7f7f7;
    font-weight: 800;
    /*border-bottom:.1rem solid #a2e3ff;*/
}
.progressive-header{
    background: #ffffff;
}
.progressive-header .product-tag.current-tag{
    background: #2694d4;
    border-bottom:.1rem solid #a2e3ff;
}
.media-box,.upload-video-box{
    background: #f2f2f2;
}

.transformLarge{
    background: rgba(24, 31, 36, 0.85) !important;
}
#addProductBtn,#addMomentBtn,#addFriendsBtn{
    background: rgba(11, 103, 184, 0.8);
    color: #fff;
}
#addProductBtn i{
    color: rgba(204, 229, 245, 0.8);
}
/* 添加产品 */
.add-nav-box::before{
    background: #93a4b6;
}
.add-nav-box .nav-item span{
    border: 1px solid #66d6fe;
    background: #ffffff;
}
.add-nav-box .nav-item.active span{
    background: #66d6fe;
    color: #fff;
}
#add-pro-explanation p{
    color: #4f5051;
}
.delete-video-btn{
    background: none;
    padding: .2rem;
}
.close-btn{
    color:#89b1ca;
}
#uploadImgBox .media-box.del::after{
    background: rgba(224, 10, 30, 0.6);
    color: #fff;
}
.show-video-box,.moment-video {
    background: #000;
}
#proDetailPhoto.swiper-container{
    background: #fff;
}
#proDetailPhoto.swiper-container .video-icon::before{
    color: #fff3cd;
    background: url("../image/Video-Play-Icon-Picture.png") center center no-repeat;
}
.recommend-container.swiper-container{
    background: #F9FAFC;
}
.recommend-container.swiper-container .swiper-slide{
    background: #fff;
    box-shadow: 0 0.5rem 2rem #ececec;
}

#proDetailPhoto .swiper-pagination-fraction {
    color: #afafaf;
}
.swiper-container {
    background: #02060c;
}
.swiper-pagination-bullet {
    background: #fff;
    opacity: .5;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #275382;
}
.swiper-pagination{
    color: #ccc;
}
.swiper-container .close-swiper{
    color: #7d7d7d;
    background: rgb(255, 255, 255);
    border-radius: 2rem;
}
.evaluation-box textarea#evaluationComments{
    background: rgba(0, 0, 0, 0.1);
}
/*产品列表中区分tweebaa产品*/
ul.product-page li.tweebaa-tag::before,ul.product-page li.added-tag::before {
    border-top: 2.5rem solid #77c1ee;
    border-right: 2.5rem solid transparent;
}
ul.product-page li.tweebaa-tag::after,ul.product-page li.added-tag::after {
    color: #fff;
}
#tweebaaProductList .media-body .profit-rate{
    color: #00ff95;
}
/*产品详细*/
.calculator-btn{
    background: rgb(79, 154, 221);
}
.calculator-btn.on{
    background: rgb(77, 114, 162);
    color: #ebf6ff;
}
/*order*/
.order-status-text.Pending{
    color: #ffad44;
}
.order-status-text.Processing{
    color: #0bb3a5;
}
.order-status-text.Paid,.order-status-text.Complete{
    color: #32a936;
}
.order-status-text.Canelled{
    color: #b30b38;
}
.order-status-text.NewOrder{
    color: #7fc7fd;
}
.round-name{
    background: rgba(240, 79, 94, 0.6);;
}
.order-total{
    border-bottom: 1px solid #ccc;
}
.order-head,.order-foot{
    background: #f9fafc;
}
.status-bar{
    background: #76c0ec;
}
.status-bar .nav-item{
    background: #76c0ec;
}
.status-bar .nav-item:nth-child(odd) i{
    background: #76c0ec;
    color: #fff;
}
/*个人中心*/
.header-full.portrait{
    background: #fff;
}
.header-full.profile-header{
    background-color: #1b222a !important;
    color: #f9f9f9;
    text-shadow: 1px 1px #474646;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header-full.profile-header ul.ui-list,.header-full.profile-header .ui-btn,.header-full.profile-header .ui-list-info p{
    background-color: transparent !important;
    color: #f9f9f9;
}
.create-post-btn,.manage-post-btn{
    background: #79c3f2;
    color: #fff;
}
.create-post-btn{
    background: #41ca4a;
}
img.portrait{
    border: .3rem solid #a1a1a1;
}
.change-portrait{
    margin-left: 1rem;
    background: #77c1ee;
    color: #fff;
    border: .2rem solid #fff;
}
.function-box.on{
    background: rgba(255, 255, 255, 0.4) !important;
}
.function-box.st-0{
    background: rgba(103, 185, 234, .1);
}
.function-box.st-1{
    background: rgba(103, 185, 234, .3);
}
.function-box.st-2{
    background: rgba(103, 185, 234, .5);
}
.function-box.st-3{
    background: rgba(103, 185, 234, .7);
}
.function-box.st-4{
    background: rgba(103, 185, 234, .9);
}
.function-box i,.button-list li.button-item i{
    background: #f2f2f2;
    color: #76c0ec;
}
/*profile*/
/*share place*/
.qrcode-box img {
    border: .5rem solid #404040;
}
#qrcode img{
    border: 2rem solid #fff;
}
/*connect page*/
.connect-box i.icon{
    background: #67b9ea;
    color: #fff;
}
.connect-box .bound i.icon-wechat{
    background:rgba(60, 147, 25, 0.7);
}
.connect-box .bound i.icon-facebook{
    background:rgba(19, 155, 255, 0.7);
}
.connect-box .bound i.icon-google{
    background:rgba(193, 28, 9, 0.7);
}
/*setting*/
.show-text-box{
    background: #e9e9e9;
}
#setting-chat-text .chat-box .get-msg,#setting-chat-text .chat-box .sand-msg{
    background: #9ccdf8;
}
#setting-chat-text .chat-box .sand-msg{
    background: rgba(240, 251, 255, 0.8);
    color: #272727;
}

/*moment*/

/*聊天部分*/
/*朋友列表*/
.unread-tips {
    background: rgba(216, 59, 74, 0.6);
    color: #fff3cd;
}
.contact-list-friends-header,.searchF-list-friends-header,.conversation-list-friends-header{
    color: #3485c6;
    background: #fff;
}

/*聊天页面*/
#showChat span.sand-msg, #showChat span.get-msg {
    background: rgba(197, 226, 252, 0.8);
}
#showChat span.get-msg {
    background: rgba(255, 255, 255, 1);
    color: #272727;
}

#showChat p.sand-msg-time, #showChat p.get-msg-time {
    color: #c1c1c1;
}
.user-box-header,.add-user-box{
    background: #c5c5c5;
    color: #1f62a9;
}
.friend-profile-card{
    background: #fff;
}
.friend-profile-body{
    background: rgb(255, 255, 255);
    box-shadow: 0 0 0.5rem #94a3ba;
}
.friend-profile-portrait{
    border: .2rem solid #fff;
    box-shadow: 0 0 .5rem #94a3ba;
}
.add-user-box{
    background: #3485c6;
    border: .1rem solid #99b9da;
    color: #ffffff;
}
.check-box{
    border: .1rem solid #ababab;
    background: #13283e;
    color:#13283e;
}
.contact-list-friends.true{
    background: rgba(242, 251, 252, 0.4) !important;
}
.contact-list-friends.checked .check-box{
    background: #218db5;
    color:#fff;
}
/*弹出按钮*/
.popup-select {
    color: #fff;
    background: rgba(55, 52, 52, 0.53);
}
.popup-select-list{
    background: #f2f2f2;
}
.popup-select-list li,.ui-header-positive li{
    color: rgba(0, 0, 0, 0.7);
}
.ui-header-positive.header-transparent{
    background: none;
    box-shadow: none;
}
.popup-select-list li:not(:first-child){
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
/*搜索朋友*/
.clear-result{
    background: #f4f4f4;
}
.modal-box{
    background: rgba(0, 0, 0, 0.8);
    color: #f0f0f0;
}
.show-random-name {
    color: #fff;
}
.show-random-name span {
    color: #0f87ce;
    text-shadow: 0 0 1rem #0a81c6;
}
.name-box span {
    color: #c7eaff;
}
/*钱包*/
.balance-box{
    background: none;
    background-image: radial-gradient(circle at 50% 0%, #fbfbfb, #c9e2f5);
}
.balance-box::before{
    background: #a9dfff;
}
.balance-box::after{
    background: #91c9f7;
}
.balance-box-click-area .balance-display i.icon{
    color: #f9f2af;
}
.balance-box .balance-btn{
    background: #235e8d;
}
.activeWalletBtn{
    background: #2d5b76;
}
.wallet-bind-box input{
    background: rgba(255, 255, 255, 0.7);
    color: #000000;
    border-bottom: 1px solid #ccc;
}
.transfer-history-box{
    background: #ffffff;
    border: 1px solid #f6f6f6;
}
.transfer-history-box.transferHistory{
    background: #eaf8ff;
}
.history-title-btn.inactive{
    color: #3485c6;
}
.coins-history li{
    background: rgba(0, 0, 0, 0.1);
}
.earning-box .balance-status{
    background: #3485c6;
}
/*列表样式*/
.list-style-even li:nth-child(odd){
    background: #fbfbfb;
}
/*media page*/
.media-post-box{
    background: #fcfcfc;
    box-shadow: 0 1px 5px #94a3ba;
}
/*end media page*/
/*place-holder*/
.place-holder-load::after{
    background: linear-gradient(to right, rgba(232, 243, 255, 0.1), rgba(232, 243, 255, 0.5) 50%, rgba(232, 243, 255, 0.1));
}
.place-holder-text-1,.place-holder-text-2{
    background-color: #b3b3b3;
}
.place-holder-text-2{
    background-color: #ccc;
}
.chat-day {
    background: #eaeaea;
}
/*shopping*/
.shopping.addShopping-bar{
    border-top: 1px solid #f2f2f2;
    background: #fff;
}
.shopping.addShopping-bar button.ui-btn.ui-btn-danger:active{
    background-color: rgba(1, 8, 14, 0.8) ;
}
.bounce-box-bottom.shopping-cart .shopping-cart-img-box{
    border: 1px solid #dedede;
}
.bounce-box-bottom.shopping-cart .quantity-ctrl,.bounce-box-bottom.shopping-cart .shopping-cart-quantity{
    background: #f6f6f6;
    border: 1px solid #dedede;
}
.bounce-box-bottom.shopping-cart .quantity-ctrl.disabled{
    color: #cccccc;
}
.shopping.settlement-bar .shopping-cart-price{
    color: rgb(203, 66, 66);
}
/* end shopping*/
/* new tewwbaa products page */

.front-categories-box i{
    color: #5e5e5e;
    background: #fbfbfb;
    box-shadow: 0 0.5rem 2rem #ececec;
}
.products-category-list li.active p{
    color: #73b3f8 !important;
}
.subcategory-list .subcategory-item{
    background: #f4f4f4;
    border: 1px solid #ccc;
}
.category-card .category-card-name{
    color: #FFF;
    text-shadow: 1px 1px 2px #0b1118;
}
/* end new tewwbaa products page */
/*payment-result page*/
.payment-result{
    color: rgb(50, 204, 84);
}
.payment-result.wrong{
    color: rgb(223, 68, 45);
}
/* end payment-result page*/
/*改写聊天部分样式*/
#conversationList .contact-list-friends,#friendsList .contact-list-friends{
    background: #fbfbfb;
    box-shadow: 0 0.5rem 2rem #ececec;
    border: none;
    padding: 1.5rem 1rem;
}
/* end 改写聊天部分样式*/
.ui-border-r:before{
    border-right: 1px solid #c2c2c2;
}
/* work place*/
.ctrl-box .ctrl-box-item{
    background: #fff;
    box-shadow: 0 0.5rem 2rem #ececec;
}
.ui-btn.setting-btn:not(.disabled):not(:disabled):active{
    background-color: #fff;
    color: #78c2f0;
}
/* end work place*/
/* user profile*/
.profile-card{
    background-color: #1b222a !important;
    text-shadow: 1px 1px 0 #000;
}
.profile-card #changePortrait{
    border: 2px solid #fff;
}
/* end user profile*/
/* search users*/
.no-result{
    color: #ccc;
}

/* end search users*/
/* tycoonplace */
.tycoonNav .tycoonNav-btn.active{
    color: #73b3f8;
}
/* end tycoonplace */
/* new login sign up*/
.country-list{
    background: #F9FAFC;
}
.country-list li{
    border-bottom: 1px solid #ececec;
    color: #a1a1a1;
}
#singup2.active{
    background: #78c2f0;
    color: #fcfcfc;
}
/* end new login sign up*/
.follow-list-btn{
    border: 1px solid #eee;
}
#selectProdUl img{
    width: 50px;
    height: 50px;
    border-radius: .5rem;
    object-fit: cover;
}
.select-products-box{
    background: #fafafa;
}
.select-products-box li{
    border-bottom: 1px solid #f2f2f2;
}
#popularize-product-box{
    background: #f0f0f0;
    color: #6c6c6c;
}
#favoriteIcon.active{
    color: #f86053;
}
/* profile 相关*/

.has-tags-list li{
    background: #78c2f0;
    color: #f2f2f2;
}
/* end profile 相关*/