<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/frozenui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../../css/jquery.range.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/swiper-4.2.6.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/theme-dark.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/theme-light.css"/>
</head>
<body class="wrap product-detail">
<div class="container" id="myProductDetail" v-cloak>
    <header class="ui-header ui-header-positive header-transparent">
        <ul class="ui-row-flex">
            <li class="ui-col ui-col" tapmode onclick="back()">
                <i class="icon iconfont icon-zuo"></i>
            </li>
            <li class="ui-col ui-col-3 pl-5 pr-5 header-center-li"></li>
            <li class="ui-col ui-col" tapmode onclick="showBounceboxBottom()">
                <i class="icon iconfont icon-share_fill"></i>
            </li>
        </ul>
    </header>
    <!-- 图片展示 -->
    <div class="swiper-container" id="proDetailPhoto">
        <div class="swiper-wrapper" v-if="productData">
            <div class="swiper-slide" v-for="pic in productData.Pictures" v-if="switchImg">
                <img class="img-fluid" :src="pic.PictureUrl">
            </div>
            <div class="swiper-slide" v-if="productData.SampleDownload && !switchImg" style="background: #000">
                <video :src="productData.SampleDownload.DownloadUrl" class="videoDisplay" controls="controls" preload="auto" muted></video>
            </div>
            <!--<div class="swiper-slide" v-if="productData.Download && productData.ProductType === 1 && !switchImg">-->
            <!--<video :src="productData.Download.DownloadUrl" class="videoDisplay" controls="controls" preload="auto" muted></video>-->
            <!--</div>-->
        </div>
        <div class="text-center switch-img-video">
            <span :class="{active:switchImg}"  @click="switchImgVideo('img')" data-i18n-text="pictures">Pictures</span>
            <span :class="{active:!switchImg}" @click="switchImgVideo('video')" data-i18n-text="video">Video</span>
        </div>
    </div>
    <section class="mm-15 bk-white p-5">
        <div>
            <span class="text-red text-title lg-text price-TAGs"></span><span class="text-red text-title lg-text">{{productData.Price}}</span>
            <span class="text-light-gray small del-line pl-3"><span class="price-TAGs"></span>{{productData.OldPrice}}</span>
            <p class="pull-right text-light-gray small pr-5 pt-4"><span data-i18n-text="sold"></span> {{productData.Sold}}</p>
            <h5 class="text-title" id="name">{{productData.Name}}</h5>
            <p class="text-light-gray" id="shortDescription">{{productData.ShortDescription}}</p>
        </div>
    </section>
    <section class="mm-15 bk-white p-5 mt-4 full-description">
        <pre v-html="productData.FullDescription"></pre>
    </section>
    <div class="shopping addShopping-bar">
        <button class="ui-btn btn-nobg flex-1" v-if="tweebaaTag !=='tweebaa-tag'" @click="editProduct()" data-i18n-text="edit">edit</button>
        <button class="ui-btn ui-btn-danger flex-1" data-i18n-text="delete" @click="deleteProduct()">delete</button>
    </div>
</div>
<!--上弹框 分享-->
<div class="bounce-box-bottom">
    <div class="text-right">
        <i class="icon iconfont icon-delete1 close-btn-circle" onclick="hideBounceboxBottom()"></i>
    </div>
    <h4 class="text-center" data-i18n-text="shareto">Share to</h4>
    <div class="ui-row text-center mt-5 share-box">
        <div class="ui-col ui-col-25 mb-3" onclick="shareToWeChat('session')">
            <i class="icon iconfont icon-wechat "></i>
            <p data-i18n-text="wechat">WeChat</p>
        </div>
        <div class="ui-col ui-col-25 mb-3" onclick="shareToWeChat('timeline')">
            <i class="icon iconfont icon-dpstipiconfriends "></i>
            <p data-i18n-text="wechatMoment">Facebook</p>
        </div>
        <div class="ui-col ui-col-25 mb-3" onclick="shareToFacebook()">
            <i class="icon iconfont icon-facebook "></i>
            <p data-i18n-text="facebook">Facebook</p>
        </div>
        <div class="ui-col ui-col-25 mb-3" onclick="shareToGoogle()">
            <i class="icon iconfont icon-google "></i>
            <p data-i18n-text="google">Google+</p>
        </div>
        <div class="ui-col ui-col-25 mb-3" onclick="shareToTwitter()">
            <i class="icon iconfont icon-twitter "></i>
            <p data-i18n-text="twitter">Twitter</p>
        </div>
        <!--<div class="ui-col ui-col-25 mb-3" onclick="shareToQQZone()">-->
        <!--<i class="icon iconfont icon-share-qq-zone "></i>-->
        <!--<p data-i18n-text="qzone">QZone</p>-->
        <!--</div>-->
        <div class="ui-col ui-col-25 mb-3" onclick="shareToWeibo()">
            <i class="icon iconfont icon-weibo "></i>
            <p data-i18n-text="weibo">Weibo</p>
        </div>
        <div class="ui-col ui-col-25 mb-3" onclick="shareToMail()">
            <i class="icon iconfont icon-mail "></i>
            <p data-i18n-text="sendEmail">Send Email</p>
        </div>
        <div class="ui-col ui-col-25 mb-3" onclick="shareToclipboard()">
            <i class="icon iconfont icon-order "></i>
            <p data-i18n-text="clipboard">Clipboard</p>
        </div>
    </div>
    <a href="" id="mailLink"></a>
    <br>
    <br>
    <br>
</div>
<!--END上弹框 分享-->
<!-- end container-->
<input type="hidden" id="shareURL" value="">
<input type="hidden" id="hiddenImg" value="">
<br><br><br><br>
<script type="text/javascript" src="../../script/axios.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jquery.min.js"></script>
<script type="text/javascript" src="../../script/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../script/lang.js"></script>
<script type="text/javascript" src="../../script/moment.min.js"></script>
<script type="text/javascript" src="../../script/users/share.js"></script>
<script type="text/javascript" src="../../script/swiper-4.2.6.min.js"></script>
<script type="text/javascript" src="../../script/tweebaa.js"></script>
<script type="text/javascript" src="../../script/phone/chat-contact.js"></script>
<script type="text/javascript" src="../../script/products/my-product-detail.js"></script>
</body>
</html>