<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/frozenui.css">
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../../css/theme-dark.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/theme-light.css"/>
    <title>Tweebaa APP - Order</title>
</head>
<body class="wrap">
<div class="container" id="orderList">
    <header class="ui-header ui-header-positive">
        <ul class="ui-row-flex">
            <li class="ui-col ui-col-1" tapmode onclick="back()">
                <i class="icon iconfont icon-zuo"></i>
            </li>
            <li class="ui-col ui-col-3">
                <h4 data-i18n-text="myOrder">myOrder</h4>
            </li>
            <li class="ui-col ui-col-1"></li>
        </ul>
    </header>
    <div class="offset-header"></div><!--抵偿herder高度-->
    <div class="order-select mm-15 bottom-shadow bk-white">
        <ul class="pt-4 ui-row-flex">
            <li class="product-tag new ui-col ui-col current-tag" @click="getOrderList('all',0,$event)">
                <span data-i18n-text="all">All</span>
            </li>
            <li class="product-tag ui-col ui-col" @click="getOrderList('paid',0,$event)">
                <span data-i18n-text="Paid">paid</span>
            </li>
            <li class="product-tag ui-col ui-col" @click="getOrderList('unpaid',0,$event)">
                <span data-i18n-text="unpaid">unpaid</span>
            </li>
        </ul>
    </div>
    <ul class="orderList-page mm-15 mt-4 mb-5">
        <li class="order-list bottom-shadow p-4 ui-row-flex ui-border-b" v-for="order in orderData" @click="openOrderDetail(order.Id)">
            <div class="ui-col ui-col-2 x-small pt-1 text-center text-light-gray">
                <div class="text-light-gray mt-2 order-time" :data-time="order.CreatedOnUtc"></div>
            </div>
            <div class="ui-col ui-col-3 text-center text-light-gray">
                <span data-i18n-text="orderNumber" class="x-small">orderNumber</span><br>
                <span class="text-dark-gray small">{{order.Id}}</span>
            </div>
            <div class="ui-col ui-col-3 text-center text-light-gray">
                <span data-i18n-text="total" class="x-small">total</span><br>
                <span class="price-TAGs"></span><span class="text-red">{{order.Total}}</span>
            </div>
            <div class="ui-col ui-col-3 text-center pt-4">
                <span class="order-status-text" :class="order.PaymentStatus">{{order.PaymentStatus}}</span>
            </div>
        </li>
    </ul>
    <!-- end product-box-->
    <!--<div class="no-item" data-i18n-text="noOrder"> You do not have order right now</div>-->
</div>
<input type="hidden" id="orderType">
<script type="text/javascript" src="../../script/axios.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jquery.min.js"></script>
<script type="text/javascript" src="../../script/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../script/lang.js"></script>
<script type="text/javascript" src="../../script/moment.min.js"></script>
<script type="text/javascript" src="../../script/tweebaa.js"></script>
<script type="text/javascript" src="../../script/products/order-list.js"></script>
</body>
</html>
