<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/frozenui.css">
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../../css/swiper-4.2.6.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/theme-dark.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/theme-light.css"/>
</head>
<body class="wrap">
<div class="container" id="tweebaaProducts" v-cloak>
    <header class="ui-header ui-header-positive">
        <ul class="ui-row-flex">
            <li class="ui-col ui-col-1" tapmode onclick="back()">
                <i class="icon iconfont icon-zuo"></i>
            </li>
            <li class="ui-col ui-col-3">
                <h4 data-i18n-text="tweebaaProducts">tweebaaProducts</h4>
            </li>
            <li class="ui-col ui-col-1"></li>
        </ul>
    </header>
    <div class="offset-header"></div><!--抵偿herder高度-->
    <div  class="ui-searchbar-wrap ui-border-b mm-15">
        <div class="ui-searchbar ui-border-radius">
            <i class="ui-icon-search"></i>
            <div class="ui-searchbar-text" data-i18n-text="search">search</div>
        </div>
    </div>
    <ul class="mt-5 ui-row front-categories-box">
        <li class="ui-col ui-col-25 text-center" onclick="openProductsPageByCategory('physical','fz','apparelAccessories')">
            <i class="icon iconfont icon-nvzhuangneiyi"></i>
            <p class="text-dark-gray small" data-i18n-text="apparelAccessories">Apparel Accessories</p>
        </li>
        <li class="ui-col ui-col-25 text-center" onclick="openProductsPageByCategory('physical','dq','electronics')">
            <i class="icon iconfont icon-jiayongdianqi"></i>
            <p class="text-dark-gray small" data-i18n-text="electronics">Electronics</p>
        </li>
        <li class="ui-col ui-col-25 text-center" onclick="openProductsPageByCategory('physical','jk','healthBeauty')">
            <i class="icon iconfont icon-yiyaobaojian"></i>
            <p class="text-dark-gray small" data-i18n-text="healthBeauty">Health Beauty</p>
        </li>
        <li class="ui-col ui-col-25 text-center" onclick="openProductsPageByCategory('physical','jj','household')">
            <i class="icon iconfont icon-jiafangjiashi"></i>
            <p class="text-dark-gray small" data-i18n-text="household">Household</p>
        </li>
        <li class="ui-col ui-col-25 text-center" onclick="openProductsPageByCategory('physical','qc','automotive')">
            <i class="icon iconfont icon-qichepeijian"></i>
            <p class="text-dark-gray small" data-i18n-text="automotive">Automotive</p>
        </li>
        <li class="ui-col ui-col-25 text-center" onclick="openProductsPageByCategory('physical','yd','sportsLeisure')">
            <i class="icon iconfont icon-huwaiyundong" style="font-weight: 600"></i>
            <p class="text-dark-gray small" data-i18n-text="sportsLeisure">Sports Leisure</p>
        </li>
        <li class="ui-col ui-col-25 text-center" onclick="openProductsPageByCategory('digital',null,'eProduct')">
            <i class="icon iconfont icon-tushuyinxiang"></i>
            <p class="text-dark-gray small" data-i18n-text="eProduct">eProduct</p>
        </li>
        <li class="ui-col ui-col-25 text-center" onclick="openCategoryListPage()">
            <i class="icon iconfont icon-other" style="font-size: 2rem"></i>
            <p class="text-dark-gray small" data-i18n-text="allCategories">All categories</p>
        </li>
    </ul>
    <!-- product-box -->
    <section class="products-box products-box-health bk-white mm-15 mt-4 p-4" v-if="productsDataHealth !=''">
        <div class="text-center products-box-title text-dark-gray">
             <i class="icon iconfont icon-flow"></i>
             <span class="text-title pl-3 pr-3" data-i18n-text="bigHealth">bigHealth</span>
             <i class="icon iconfont icon-flow"></i>
             <p class="small text-light-gray"  onclick="openProductsPageByCategory('','djk','bigHealth')"  data-i18n-text="more">See more</p>
        </div>
        <div class="ui-row mt-4">
            <div class="ui-col ui-col-33 p-3 text-center" v-for="hpd in productsDataHealth" @click="openDetail(hpd.Id)">
                <img :src="hpd.FeaturedPicture.PictureUrl" alt="" class="products-img img-fluid">
                <p class="small text-dark-gray name text-left">{{hpd.Name}}</p>
                <p class="x-small text-red text-left price"><span class="price-TAGs"></span> <span> {{hpd.Price}}</span></p>
            </div>
        </div>
    </section>
    <section class="products-box products-box-life bk-white mm-15 mt-4 p-4" v-if="productLife !=''">
        <div class="text-center products-box-title text-dark-gray">
            <i class="icon iconfont icon-flow"></i>
            <span class="text-title pl-3 pr-3" data-i18n-text="lifestyle">lifestyle</span>
            <i class="icon iconfont icon-flow"></i>
            <p class="small text-light-gray"  onclick="openProductsPageByCategory('','sh','lifestyle')"  data-i18n-text="more">See more</p>
        </div>
        <div class="swiper-container tweebaaProduct mt-4 p-4">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="lpd in productLife" @click="openDetail(lpd.Id)">
                    <img :src="lpd.FeaturedPicture.PictureUrl" class="products-img img-fluid" alt="">
                    <p class="small text-dark-gray name text-left">{{lpd.Name}}</p>
                    <p class="small text-red text-left price"><span class="price-TAGs"></span> <span> {{lpd.Price}}</span></p>
                </div>
            </div>
        </div>
    </section>
    <section class="products-box products-box-innovation bk-white mm-15 mt-4 p-4" v-if="productInnovation !=''">
        <div class="text-center products-box-title text-dark-gray">
            <i class="icon iconfont icon-flow"></i>
            <span class="text-title pl-3 pr-3" data-i18n-text="innovation">innovation</span>
            <i class="icon iconfont icon-flow"></i>
            <p class="small text-light-gray" onclick="openProductsPageByCategory('','cx','innovation')"  data-i18n-text="more">See more</p>
        </div>
        <div class="ui-row mt-4" style="margin-right: -1rem; margin-left: -1rem;">
            <div class="ui-col ui-col-50 p-3 text-center" v-for="ipd in productInnovation" @click="openDetail(ipd.Id)">
                <img :src="ipd.FeaturedPicture.PictureUrl" alt="" class="products-img img-fluid">
                <p class="small text-dark-gray name text-left">{{ipd.Name}}</p>
                <p class="x-small text-red text-left price"><span class="price-TAGs"></span> <span> {{ipd.Price}}</span></p>
            </div>
        </div>
    </section>
    <!-- end product-box-->
</div>
<br><br><br><br>

<script type="text/javascript" src="../../script/axios.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/jquery.min.js"></script>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../script/lang.js"></script>
<script type="text/javascript" src="../../script/moment.min.js"></script>
<script type="text/javascript" src="../../script/tweebaa.js"></script>
<script type="text/javascript" src="../../script/swiper-4.2.6.min.js"></script>
<script type="text/javascript" src="../../script/products/tweebaaProduct-new.js"></script>
</body>
</html>
