<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/frozenui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../../css/jquery.range.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/swiper-4.2.6.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/theme-dark.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/theme-light.css"/>
</head>
<body class="wrap product-detail">
<div class="container" id="productDetail" v-cloak>
    <header class="ui-header ui-header-positive header-transparent">
        <ul class="ui-row-flex">
            <li class="ui-col ui-col" tapmode onclick="back()">
                <i class="icon iconfont icon-zuo"></i>
            </li>
            <li class="ui-col ui-col-3 pl-5 pr-5 header-center-li"></li>
            <li class="ui-col ui-col" tapmode onclick="OpenShareBox()">
                <i class="icon iconfont icon-share_fill"></i>
            </li>
        </ul>
    </header>
    <!-- 图片展示 -->
    <div class="swiper-container" id="proDetailPhoto">
        <div class="swiper-wrapper" v-if="productData">
            <div class="swiper-slide" v-for="pic in productData.Pictures" v-if="switchImg">
                <img class="img-fluid" :src="pic.PictureUrl">
            </div>
            <div class="swiper-slide" v-if="productData.SampleDownload && !switchImg" style="background: #000">
                <video :src="productData.SampleDownload.DownloadUrl" class="videoDisplay" controls="controls" preload="auto" muted></video>
            </div>
            <!--<div class="swiper-slide" v-if="productData.Download && productData.ProductType === 1 && !switchImg">-->
            <!--<video :src="productData.Download.DownloadUrl" class="videoDisplay" controls="controls" preload="auto" muted></video>-->
            <!--</div>-->
        </div>
        <div class="text-center switch-img-video">
            <span :class="{active:switchImg}"  @click="switchImgVideo('img')" data-i18n-text="pictures">Pictures</span>
            <span :class="{active:!switchImg}" @click="switchImgVideo('video')" data-i18n-text="video">Video</span>
        </div>
    </div>
    <section class="mm-15 bk-white p-5">
        <div>
            <span class="text-red text-title lg-text price-TAGs"></span><span class="text-red text-title lg-text">{{productData.Price}}</span>
            <span class="text-light-gray small del-line pl-3"><span class="price-TAGs"></span>{{productData.OldPrice}}</span>
            <p class="pull-right text-light-gray small pr-5 pt-4"><span data-i18n-text="sold"></span> {{productData.Sold}}</p>
            <h5 class="text-title" id="name">{{productData.Name}}</h5>
            <p class="text-light-gray" id="shortDescription">{{productData.ShortDescription}}</p>
        </div>
    </section>
    <section class="mm-15 bk-white p-5 mt-4 full-description">
        <pre v-html="productData.FullDescription"></pre>
    </section>
    <div class="shopping addShopping-bar">
        <button class="ui-btn ui-btn-info flex-1" v-if="!productData.AddedToTycoonPlace" @click="addToMyProducts()" data-i18n-text="addtoMyStore" >addtoMyStore</button>
        <button class="ui-btn ui-btn-success flex-1" v-if="productData.AddedToTycoonPlace" data-i18n-text="addedMyStore" >addToCart</button>
    </div>
</div>

<!-- end container-->
<input type="hidden" id="shareURL" value="">
<input type="hidden" id="hiddenImg" value="">
<br><br><br><br>
<script type="text/javascript" src="../../script/axios.js"></script>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jquery.min.js"></script>
<script type="text/javascript" src="../../script/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../script/lang.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/moment.min.js"></script>
<script type="text/javascript" src="../../script/users/share.js"></script>
<script type="text/javascript" src="../../script/swiper-4.2.6.min.js"></script>
<script type="text/javascript" src="../../script/tweebaa.js"></script>
<script type="text/javascript" src="../../script/phone/chat-contact.js"></script>
<script type="text/javascript" src="../../script/products/twProdDetail-new.js"></script>
</body>
</html>