<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/frozenui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../../css/theme-dark.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/theme-light.css"/>
</head>
<body class="wrap bk-img">
<div class="container" id="changeTags">
    <header class="ui-header ui-header-positive header-transparent">
        <ul class="ui-row-flex">
            <li class="ui-col ui-col-1" tapmode onclick="back()">
                <button class="btn btn-nobg btn-block">
                    <i class="icon iconfont icon-zuo" style="background: none"></i>
                </button>
            </li>
            <li class="ui-col ui-col-3"></li>
            <li class="ui-col ui-col-1"></li>
        </ul>
    </header>
    <div class="profile-card mm-15">
        <div class="profile-card-body">
            <img src="" alt="" id="changePortrait">
            <p class="text-center text-title text-white" id="tycoonName"></p>
            <p class="small text-title text-white pt-2 pl-4 pr-4 text-left">
                <span v-for="tag in tagList" class="text-white pr-4"><i class="icon iconfont icon-huizhang small text-light-gray pr-2"></i>{{tag}}</span>
            </p>
        </div>
    </div>
    <p class="text-dark-gray mt-5 p-4" data-i18n-text="tagsTips"></p>
    <div class="mt-3" style="position: relative;">
        <div class="ui-searchbar-wrap mm-15 focus" style="height: 36px;">
            <div class="ui-searchbar ui-border-radius">
                <div class="ui-searchbar-text" data-i18n-text="inputTags">searchFriends</div>
                <div class="ui-searchbar-input">
                    <input value="" type="text" v-model="inputTags" @input="inputTag" data-i18n-placeholder="inputTags" @keyup.13="submitTag">
                </div>
                <i class="ui-icon-close" @click="clearInput"></i>
            </div>
            <button class="ui-searchbar-cancel" data-i18n-text="ok"  @click="submitTag">ok</button>
        </div>
        <ul class="select-tags-list bk-white ">
            <li v-for="t in tagSelectList" class="p-4 ui-border-b" @click="selectVal(t)">
                <i class="icon iconfont icon-huizhang small text-light-gray pr-4"></i>{{t}}
                <i class="icon iconfont icon-fuhao-biaoqian pull-right"></i>
            </li>
        </ul>
    </div>
    <ul class="has-tags-list mt-5">
        <li class="has-tag" v-for="tag in tagList">
            <span>{{tag}}</span>
            <i class="icon iconfont icon-delete small pl-3" @click="delTag(tag)"></i>
        </li>
    </ul>
</div>
<script type="text/javascript" src="../../script/axios.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jquery.min.js"></script>
<script type="text/javascript" src="../../script/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../script/lang.js"></script>
<script type="text/javascript" src="../../script/tweebaa.js"></script>
<script>
    apiready = function () {
        var tycoonName = localStorage.getItem('storename');
        var userPortrait = localStorage.getItem('chatPortrait');
        $('#tycoonName').text(tycoonName);
        $('#changePortrait').attr('src',userPortrait);
        $('.profile-card').css("background-image","url("+localStorage.getItem('myCover')+")");
        api.addEventListener({
            name: 'swiperight'
        }, function (ret, err) {
            back();
        });

        var changeTags = new Vue({
            el: '#changeTags',
            data: {
                inputTags: '',
                tagList:JSON.parse(localStorage.getItem('myTags')),
                tagSelectList:[]
            },
            methods: {
                getTags:function (q) {
                    var Q = q||'';
                    var that = this;
                    var url = getBaseUrl() +'/api/tags/get-tags?q='+Q;
                    getAxois(url,"GET",{}).then(function (response) {
                        //console.log(JSON.stringify(response.data));
                        if(response.data.Success){
                            that.tagSelectList = response.data.Tags;
                        }
                    }).catch(function (error) {
                        console.log(JSON.stringify(error));
                        messages($.i18n.prop('systemError'), 'error', 'top', 3);
                    });
                },
                inputTag:function (e) {
                    this.inputTags = e.target.value;
                    //console.log(e.target.value);
                    if(this.inputTags !==''){
                        this.getTags(this.inputTags);
                    }else{
                        this.tagSelectList = []
                    }
                },
                selectVal:function(text){
                    this.inputTags = text;
                    this.tagSelectList = [];
                },
                clearInput: function () {
                    this.inputTags = this.tagSelectList =[];
                },
                submitTag: function () {
                    var that = this;
                    var myId = localStorage.getItem('userId');
                    if(this.inputTags !==''){
                        $('input').blur();
                        var paramStr = {
                            "tags": [
                                that.inputTags
                            ],
                                "deleteTags": []
                        };
                        loading('show');
                        //console.log(JSON.stringify(paramStr));
                        var url = getBaseUrl() +"/api/tags/"+ myId +"/update-tags";
                        //console.log(JSON.stringify(url));
                        getAxois(url,"POST",paramStr).then(function (response) {
                            //console.log(JSON.stringify(response));
                            that.tagList.push(that.inputTags);
                            that.inputTags = '';
                            localStorage.setItem('myTags',JSON.stringify(that.tagList));
                            loading('hide');
                            api.sendEvent({
                                name: 'profileReload'
                            });
                        }).catch(function (error) {
                            console.log(JSON.stringify(error));
                            messages($.i18n.prop('systemError'), 'error', 'top', 3);
                        });
                    }
                },
                delTag:function (text) {
                    var that = this;
                    var myId = localStorage.getItem('userId');
                    var paramStr = {
                        "tags":  [],
                        "deleteTags": [text]
                    };
                    loading('show');
                    //console.log(JSON.stringify(paramStr));
                    var url = getBaseUrl() +"/api/tags/"+ myId +"/update-tags";
                    getAxois(url,"POST",paramStr).then(function (response) {
                        //console.log(JSON.stringify(response.data));
                        var i = that.tagList.indexOf(text);
                        that.tagList.splice(i,1);
                        localStorage.setItem('myTags',JSON.stringify(that.tagList));
                        loading('hide');
                        api.sendEvent({
                            name: 'profileReload'
                        });
                    }).catch(function (error) {
                        console.log(JSON.stringify(error));
                        messages($.i18n.prop('systemError'), 'error', 'top', 3);
                    });
                },
            }
        });
    };

    function back() {
        api.closeWin({
            name: 'changeTags'
        });
    }
</script>
</body>
</html>