<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/frozenui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../../css/theme-dark.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/theme-light.css"/>
</head>
<body class="wrap" >
<div class="container" id="favoriteList" >
    <header class="ui-header ui-header-positive">
        <ul class="ui-row-flex">
            <li class="ui-col ui-col-1" tapmode onclick="back()">
                <button class="btn btn-nobg">
                    <i class="icon iconfont icon-zuo"></i>
                </button>
            </li>
            <li class="ui-col ui-col-3"></li>
            <li class="ui-col ui-col-1"> </li>
        </ul>
    </header>
    <div class="offset-header"></div><!--抵偿herder高度-->
    <div class="bk-white mm-15">
        <ul class="favorite-list mt-5">
            <li class="pt-4 pb-4 ui-border-b" v-for="favorite in favoriteList">
                <div class="favorite-item">
                    <div class="pl-4 pt-3 favorite-item-info">
                        <div class="favorite-item-owner" style="display: flex; align-items: center;">
                            <img :src="favorite.userInfo.AvatarUrl" alt="" class="ownerAvatar">
                            <span class="text-dark-gray text-title" >{{favorite.userInfo.StoreName}}</span>
                        </div>
                        <i class="icon iconfont icon-delete1 pull-right text-red pr-4" @click="removeFavorite(favorite.prodId,$event)"></i>
                    </div>
                    <div class="p-4" style="display: flex" @click="openDetail(favorite.prodId,favorite.userInfo)">
                        <img :src="favorite.prodImg" alt="" class="img-fluid product-img">
                        <div class="favorite-info flex-1 pl-4">
                            <div class="product-name small">{{favorite.prodName}}</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jquery.min.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../script/lang.js"></script>
<script type="text/javascript" src="../../script/tweebaa.js"></script>
<script type="text/javascript" src="../../script/users/favorite-list.js"></script>
</body>
</html>