<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/frozenui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../../css/theme-dark.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/theme-light.css"/>
</head>
<body class="wrap" >
<div class="container" id="followList" v-cloak>
    <header class="ui-header ui-header-positive">
        <ul class="ui-row-flex">
            <li class="ui-col ui-col-1" tapmode onclick="back()">
                <button class="btn btn-nobg">
                    <i class="icon iconfont icon-zuo"></i>
                </button>
            </li>
            <li class="ui-col ui-col-3">
                <h4>{{title}}</h4>
            </li>
            <li class="ui-col ui-col-1">
            </li>
        </ul>
    </header>
    <div class="offset-header"></div><!--抵偿herder高度-->

    <div class="bk-white mm-15">
        <ul class="ui-list ui-list-function mt-5">
            <li v-for="(data, index) in listData">
                <div class="ui-avatar" @click="openTycoonPlace(index)">
                    <span :style="{backgroundImage: 'url('+data.AvatarUrl+')'}"></span>
                </div>
                <div class="ui-list-info ui-border-t">
                    <h5 class="ui-nowrap" @click="openTycoonPlace(index)">{{data.StoreName}}</h5>
                    <p class="small text-light-gray"><span data-i18n-text="follower">follower</span> {{data.FollowersCount}}</p>
                </div>
                <div id="followBtn" v-if="myID!=data.Id" class="ui-btn ui-btn-default" :class="{active:data.Followed}" @click="followBtn(data.Id,$event,index)">
                    <span class="unfollow"><i class="icon iconfont icon-like"></i><span data-i18n-text="follow"></span></span>
                    <span class="followed"><i class="icon iconfont icon-like_fill"></i><span data-i18n-text="followed"></span></span>
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="../../script/axios.js"></script>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jquery.min.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../script/lang.js"></script>
<script type="text/javascript" src="../../script/tweebaa.js"></script>
<script type="text/javascript" src="../../script/users/follow-list.js"></script>
</body>
</html>