<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/frozenui.css">
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../../css/theme-dark.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/theme-light.css"/>
</head>
<body class="wrap">
<div class="container" id="myPurchases">
    <header class="ui-header ui-header-positive">
        <ul class="ui-row-flex">
            <li class="ui-col ui-col-1" tapmode onclick="back()">
                <i class="icon iconfont icon-zuo"></i>
            </li>
            <li class="ui-col ui-col-3">
                <h4 data-i18n-text="myPurchases">myPurchases</h4>
            </li>
            <li class="ui-col ui-col-1"></li>
        </ul>
    </header>
    <div class="offset-header"></div><!--抵偿herder高度-->
    <ul class="purchase-list mm-15 pt-2">
        <li class="purchase-order bottom-shadow mt-4" v-for="order in purchasesData">
            <div class="text-title text-dark-gray ui-border-b p-4">
                <span data-i18n-text="orderNumber" class="small"></span>: {{order.Id}}
                <div class="pull-right">
                    <span class="pr-4 purchase-time x-small text-light-gray" :data-time="order.CreatedOnUtc"></span>
                </div>
            </div>
            <div class="purchase-item ui-border-b" v-for="item in order.OrderItems">
                <div class="pl-4 pt-3 purchase-item-info">
                    <div class="purchase-item-owner" style="display: flex; align-items: center;">
                        <img :src="item.Owner.AvatarUrl" alt="" class="ownerAvatar">
                        <span class="text-dark-gray text-title">{{item.Owner.StoreName}}</span>
                    </div>
                </div>
                <div class="p-4" style="display: flex" @click="openDetail(item.Product.Id,item.Owner)">
                    <img :src="item.Product.FeaturedPicture.DownloadUrl" alt="" class="img-fluid product-img">
                    <div class="purchase-info flex-1 pl-4">
                        <div class="product-name small">{{item.Product.Name}}</div>
                        <div class="product-price pt-3 text-right">
                            <span class="price-TAGs"></span> {{item.Product.Price}} x {{item.Quantity}}</div>
                    </div>
                </div>
            </div>
            <div class="p-4 ui-row-flex">
                <div class="ui-col ui-col">
                   <div class="order-status-text" :class="order.OrderStatus">{{order.OrderStatus}}</div>
                </div>
                <div class="ui-col ui-col text-right text-title">
                    <span data-i18n-text="total"></span>:
                    <span class="text-red"><span class="price-TAGs"></span> {{order.Total}}</span>
                </div>

            </div>
        </li>
    </ul>
</div>
<script type="text/javascript" src="../../script/axios.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jquery.min.js"></script>
<script type="text/javascript" src="../../script/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../script/lang.js"></script>
<script type="text/javascript" src="../../script/moment.min.js"></script>
<script type="text/javascript" src="../../script/tweebaa.js"></script>
<script type="text/javascript" src="../../script/users/my-purchases.js"></script>
</body>
</html>
