<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/frozenui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../../css/theme-dark.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/theme-light.css"/>
</head>
<body class="wrap" >
<div class="container" id="selectProds" v-cloak>
    <header class="ui-header ui-header-positive">
        <ul class="ui-row-flex">
            <li class="ui-col ui-col-1" tapmode onclick="back()">
                <button class="btn btn-nobg">
                    <i class="icon iconfont icon-zuo"></i>
                </button>
            </li>
            <li class="ui-col ui-col-3"></li>
            <li class="ui-col ui-col-1"> </li>
        </ul>
    </header>
    <div class="offset-header"></div><!--抵偿herder高度-->
    <div class="bk-white mm-15">
        <ul class="ui-list ui-list-function mt-5" id="selectProdUl">
            <li v-for="(prod, index) in prodsData" class="pt-4 pb-4 ui-border-b" @click="selected(index)">
                <!--<div :style="{backgroundImage: 'url('+prod.FeaturedPicture.DownloadUrl+')'}"></div>-->
                <img :src="prod.FeaturedPicture.DownloadUrl" alt="">
                <div class="ui-list-info pl-4">
                    <h5 class="ui-nowrap text-title small">{{prod.Name}}</h5>
                </div>
                <div class="pr-4 pt-4 mt-3 text-red"><span class="price-TAGs"></span> {{prod.Price}}</div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jquery.min.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../script/lang.js"></script>
<script type="text/javascript" src="../../script/tweebaa.js"></script>
<script type="text/javascript" src="../../script/users/selectPords.js"></script>
</body>
</html>