<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/frozenui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../../css/swiper-4.2.6.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/theme-dark.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/theme-light.css"/>
</head>
<body class="wrap">
<div class="container tycoonplace" id="tycoonplace" v-cloak>
    <header class="ui-header ui-header-positive header-transparent">
        <ul class="ui-row-flex">
            <li class="ui-col ui-col-1" tapmode onclick="back()">
                <button class="btn btn-nobg btn-block">
                    <i class="icon iconfont icon-zuo" style="background: none"></i>
                </button>
            </li>
            <li class="ui-col ui-col-3"></li>
            <li class="ui-col ui-col-1" ></li>
        </ul>
    </header>
    <div class="profile-card mm-15" :style="{backgroundImage: 'url('+userInfo.BackgroundUrl+')'}">
        <div class="profile-card-body">
            <img :src="avatarUrl" alt="" id="changePortrait" @click="openPortrait()">
            <p class="text-center text-title text-white" id="tycoonName">{{storeName}}</p>
            <p class="text-white p-4 ui-nowrap text-title" @click="openIntroduction()">{{userInfo.Introduction}}</p>
            <p class="small text-title text-white ui-nowrap pt-2 pl-4 pr-4 text-left" @click="openIntroduction()">
                <span v-for="tag in userInfo.PersonalTags" class="text-white pr-4"><i class="icon iconfont icon-huizhang small text-light-gray pr-2"></i>{{tag}}</span>
            </p>
        </div>
        <div class="profile-card-footer ui-row-flex text-white-h small" >
            <div class="ui-col ui-col-3 text-left pl-5">
                <span @click="toFollowList('follower',userInfo.Id)"><span data-i18n-text="follower">follower</span>:<span id="followed">{{userInfo.FollowersCount}}</span>&nbsp;</span>&nbsp;&nbsp; |
                &nbsp;&nbsp;&nbsp;<span @click="toFollowList('following',userInfo.Id)"><span data-i18n-text="following">following</span>:<span id="following">{{userInfo.FollowingCount}}</span ></span>
            </div>
            <div class="ui-col ui-col-2" v-if="myID !=userInfo.Id">
                <div id="followBtn" class="ui-btn ui-btn-default" :class="{active:userInfo.Followed}" @click="followBtn(userInfo.Id,$event)">
                    <span class="unfollow"><i class="icon iconfont icon-like"></i></span>
                    <span class="followed"><i class="icon iconfont icon-like_fill"></i></span>
                </div>
                <span id="chatToUserBtn" class="ui-btn ui-btn-default" @click="chatToUser">
                    <i class="icon iconfont icon-chat"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="tycoonNav bottom-shadow text-center mm-15" style="background-color: #fff">
        <div class="ui-row-flex">
            <div class="tycoonNav-btn ui-col ui-col" :class="{ active: list1 }" @click="momentList($event)" data-i18n-text="moment">Posts</div>
            <div class="tycoonNav-btn ui-col ui-col" :class="{ active: !list1 }" @click="productList($event)" data-i18n-text="products">Products</div>
        </div>
    </div>
    <div class="tycoonList postsList mm-15" v-show="list1">
        <div class="moment-container">
            <ul class="moment-ul">
                <li class="moment-item ui-border-b clearfix" v-for="moment in momentsData">
                    <div class="moment-header ui-row-flex">
                        <div class="ui-col ui-col-4 pl-4">
                            <div class="text-light-gray x-small pt-3 post-time" :data-time="moment.CreatedTime"></div>
                        </div>
                        <div class="moment-btn-group ui-col ui-col-2 text-right">
                            <!--<i class="icon iconfont icon-like text-light-gray" style="font-size: 1.8rem" onclick="openShareBox()"></i> &nbsp;&nbsp;-->
                            <i class="icon iconfont icon-share text-light-gray" style="font-size: 1.8rem" @click="openShareBar(moment.Content,moment.Id)"></i> &nbsp;&nbsp;
                        </div>
                    </div>
                    <pre class="moment-content" v-html="moment.Content"></pre>
                    <div class="moment-content-extend d-none" onclick="showExtend(this)"> <span class="text-blue  p-2" data-i18n-text="fullText"> 全文</span> </div>
                    <div class="moment-pictures clearfix">
                        <div class="moment-pic-box" :data-img="pic.DownloadUrl" @click="showImages($event,index,pic.DownloadUrl)" v-for="(pic,index) in moment.Pictures">
                            <div class="img-box" :style="{backgroundImage: 'url('+pic.DownloadUrl+')'}" style="background-size:cover"></div>
                        </div>
                    </div>
                    <div class="momnet-video-box showVideos mb-2" v-if="moment.Attachments.length>0">
                        <video :src="moment.Attachments[0].DownloadUrl" class="moment-video" controls="controls" preload="auto"></video>
                    </div>
                    <div id="popularize-product-box" class="ui-row" v-for="prod in moment.MomentProducts" @click="openProdDetail(prod.Product.Id,moment.Owner)">
                        <div class="pl-4 pb-2 small text-dark-gray text-title">{{prod.Description}}</div>
                        <div class="ui-col ui-col-10"><img :src="prod.Product.FeaturedPicture.DownloadUrl" alt=""></div>
                        <div class="ui-col ui-col-90">
                            <span class="x-small text-title ui-nowrap">{{prod.Product.Name}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="tycoonList productsList " v-show="!list1">
        <ul class="products-ul mm-15">
            <li class="products-box ui-row bottom-shadow mt-4" v-for="pd in productsData" @click="openDetail(pd.Id)">
                <div class="products-img-box ui-col ui-col-33 p-3 text-center">
                    <img :src="pd.FeaturedPicture.DownloadUrl" class="products-img img-fluid" alt="">
                </div>
                <div class="ui-col ui-col-67">
                    <div class="products-body pt-3 pb-3">
                        <p class="products-title text-title">{{pd.Name}}</p>
                        <h4 class="text-red"><span class="price-TAGs"> </span> {{pd.Price}}</h4>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>

<div class="swiper-container">
    <div class="swiper-wrapper">

    </div>
    <div class="close-swiper"> <i class="icon iconfont icon-delete"></i></div>
</div>
<div class="invisible" id="name"></div>
<input type="hidden" id="hiddenImg" value="">
<input type="hidden" id="shareURL" value="">
<input type="hidden" id="downloadImage" value="">
<script type="text/javascript" src="../../script/axios.js"></script>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jquery.min.js"></script>
<script type="text/javascript" src="../../script/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../script/lang.js"></script>
<script type="text/javascript" src="../../script/tweebaa.js"></script>
<script type="text/javascript" src="../../script/moment.min.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/users/share.js"></script>
<script type="text/javascript" src="../../script/phone/chat-contact.js"></script>
<script type="text/javascript" src="../../script/users/tycoonplace.js"></script>
<script type="text/javascript" src="../../script/users/share.js"></script>
<script type="text/javascript" src="../../script/swiper-4.2.6.min.js"></script>
</body>
</html>