<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/frozenui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../../css/swiper-4.2.6.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/theme-dark.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/theme-light.css"/>
</head>
<body>
<div class="container" id="following">
    <div  class="ui-searchbar-wrap ui-border-b mm-15">
        <div class="ui-searchbar ui-border-radius flex-1" @click="searchFocus">
            <i class="ui-icon-search"></i>
            <div class="ui-searchbar-text" data-i18n-text="searchFriends">searchFriends</div>
        </div>
        <div class="pr-4 pl-4">
            <i class="icon iconfont icon-addressbook_fill text-blue follow-list-btn" @click="followedList('following')"></i>
        </div>
    </div>
    <br>
    <ul class="moment-ul">
        <li class="moment-item ui-border-b clearfix bk-white mm-15" v-for="moment in momentsData">
            <div class="moment-header ui-row-flex">
                <img :src="moment.Owner.AvatarUrl" class="tycoon-avatar" alt="tycoon-avatar" @click="openTycoonPlace(moment.Owner)">
                <div class="ui-col ui-col-4 pl-4" @click="openTycoonPlace(moment.Owner)">
                    <p class="text-title">{{moment.Owner.StoreName}}</p>
                    <div class="text-light-gray x-small pt-3 post-time" :data-time="moment.CreatedTime"></div>
                </div>
                <div class="moment-btn-group ui-col ui-col-2 text-right">
                    <!--<i class="icon iconfont icon-like text-light-gray" style="font-size: 1.8rem" onclick="openShareBox()"></i> &nbsp;&nbsp;-->
                    <i class="icon iconfont icon-share text-light-gray" style="font-size: 1.8rem" @click="openShareBar(moment.Content,moment.Id)"></i> &nbsp;&nbsp;
                </div>
            </div>
            <pre class="moment-content" v-html="moment.Content"></pre>
            <div class="moment-content-extend d-none" onclick="showExtend(this)"> <span class="text-blue  p-2" data-i18n-text="fullText"> Full text</span> </div>
            <div class="moment-pictures clearfix">
                <div class="moment-pic-box" :data-img="pic.DownloadUrl" @click="showImages($event,index,pic.DownloadUrl)" v-for="(pic,index) in moment.Pictures">
                    <div class="img-box" :style="{backgroundImage: 'url('+pic.DownloadUrl+')'}" style="background-size:cover"></div>
                </div>
            </div>
            <div class="momnet-video-box showVideos mb-2" v-if="moment.Attachments.length>0">
                <video :src="moment.Attachments[0].DownloadUrl" class="moment-video" controls="controls" preload="auto"></video>
            </div>
            <div id="popularize-product-box" class="ui-row" v-for="prod in moment.MomentProducts" @click="openProdDetail(prod.Product.Id,moment.Owner)">
                <div class="pl-4 pb-2 small text-dark-gray text-title">{{prod.Description}}</div>
                <div class="ui-col ui-col-10"><img :src="prod.Product.FeaturedPicture.DownloadUrl" alt=""></div>
                <div class="ui-col ui-col-90">
                    <span class="x-small text-title ui-nowrap">{{prod.Product.Name}}</span>
                </div>
            </div>
        </li>
    </ul>
    <div class="no-item">
        <span data-i18n-text="noFollowing">noFollowing </span>
    </div>
</div>
<div class="swiper-container" id="showImages">
    <div class="swiper-wrapper">

    </div>
    <div class="close-swiper"> <i class="icon iconfont icon-delete"></i></div>
</div>
<div class="invisible" id="name"></div>
<input type="hidden" id="hiddenImg" value="">
<input type="hidden" id="shareURL" value="">
<input type="hidden" id="downloadImage" value="">
<script type="text/javascript" src="../../script/axios.js"></script>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jquery.min.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../script/lang.js"></script>
<script type="text/javascript" src="../../script/moment.min.js"></script>
<script type="text/javascript" src="../../script/tweebaa.js"></script>
<script type="text/javascript" src="../../script/swiper-4.2.6.min.js"></script>
<script type="text/javascript" src="../../script/users/share.js"></script>
<script type="text/javascript" src="../../script/users/following.js"></script>
</body>
</html>