<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/frozenui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../../css/jquery.range.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/swiper-4.2.6.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/theme-dark.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/theme-light.css"/>
</head>
<body class="wrap product-detail">
<div class="container" id="sharePost" v-cloak>
    <header class="ui-header ui-header-positive">
        <ul class="ui-row-flex">
            <li class="ui-col ui-col" tapmode onclick="back()">
                <i class="icon iconfont icon-zuo"></i>
            </li>
            <li class="ui-col ui-col-3 pl-5 pr-5 header-center-li"></li>
            <li class="ui-col ui-col" ></li>
        </ul>
    </header>
    <div class="offset-header"></div><!--抵偿herder高度-->
    <ul class="moment-ul">
        <li class="moment-item bottom-shadow clearfix mm-15">
            <div class="moment-header ui-row-flex">
                <img :src="userInfo.AvatarUrl" class="tycoon-avatar" alt="tycoon-avatar" >
                <div class="ui-col ui-col-4 pl-4" >
                    <p class="text-title">{{userInfo.StoreName}}</p>
                    <div class="text-light-gray x-small pt-3 post-time" :data-time="momentData.CreatedTime"></div>
                </div>
                <div class="moment-btn-group ui-col ui-col-2 text-right">
                    <!--<i class="icon iconfont icon-share text-light-gray" style="font-size: 1.8rem" @click="openShareBar(momentData.Content,momentData.Id)"></i> &nbsp;&nbsp;-->
                </div>
            </div>
            <pre class="moment-content" v-html="momentData.Content"></pre>
            <div class="moment-content-extend d-none" onclick="showExtend(this)"> <span class="text-blue  p-2" data-i18n-text="fullText"> 全文</span> </div>
            <div class="moment-pictures clearfix">
                <div class="moment-pic-box" :data-img="pic.DownloadUrl" @click="showImages($event,index,pic.DownloadUrl)" v-for="(pic,index) in momentData.Pictures">
                    <div class="img-box" :style="{backgroundImage: 'url('+pic.DownloadUrl+')'}" style="background-size:cover"></div>
                </div>
            </div>
            <div class="momnet-video-box showVideos" v-if="momentData.Attachments">
                <video :src="momentData.Attachments[0].DownloadUrl" class="moment-video" controls="controls" preload="auto"></video>
            </div>
            <div id="popularize-product-box" class="ui-row" v-for="prod in momentData.Products" >
                <div class="ui-col ui-col-10"><img :src="prod.FeaturedPicture.DownloadUrl" alt="" class="pr-4"></div>
                <div class="ui-col ui-col-90">
                    <span class="small text-title text-dark-gray">{{prod.Name}}</span>
                </div>
            </div>
        </li>
    </ul>
</div>


<div class="swiper-container" id="showImages">
    <div class="swiper-wrapper">

    </div>
    <div class="close-swiper"> <i class="icon iconfont icon-delete"></i></div>
</div>
<br><br><br><br>
<script type="text/javascript" src="../../script/axios.js"></script>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jquery.min.js"></script>
<script type="text/javascript" src="../../script/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../script/lang.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/moment.min.js"></script>
<script type="text/javascript" src="../../script/swiper-4.2.6.min.js"></script>
<script type="text/javascript" src="../../script/tweebaa.js"></script>
<script type="text/javascript" src="../../script/share-back/share-moment-back.js"></script>
</body>
</html>